[2016-03-08 13:29] jan-wassenberg opened #5 "Escape internal state=zero"
In HighwayTreeHash, keys are not attacker-controlled, but a potential worst-case involves key = init0/1. As a result, either v0 or v1 can be zero. Suppose it is v1 and an attacker chooses all-zero input packets. Then any packets with (length mod 256 = 0) collide.

If instead v0 = 0 after init and the key is known, attackers can choose the first input such that v1 becomes and remains 0. Obviously t

[2016-03-08 14:20] waywardgeek commented on #5
Anything we do will slow hashing down, but I found that doing pre-processing on the packet can be done in parallel with the main hashing loop, and slows it down less than other options:

    const uint64_t maskVal = 0x7171717171717171ULL;
    const V4x64U mask(maskVal, maskVal, maskVal, maskVal);
    const V4x64U maskInv(~maskVal, ~maskVal, ~maskVal, ~maskVal);
    v0 ^= packet & mask;
    v1 ^= p

[2016-03-09 10:35] jan-wassenberg commented on #5
Nice, looks like that prevents the second attack (init v0 to 0, force v1 to 0 using first input packet), but we need to swap mask and maskInv:
`    const V4x64U mask(0x7171717171717171ULL);
    v0 += AndNot(mask, packet);
    v1 += mask & packet;
    v0 |= V4x64U(0x0000000070000001ULL);`

Alternatively, we can add the previous state at the end of Update:
`    v0 += ZipperMerge(mul0) + prev_v1;

[2016-03-09 22:37] waywardgeek commented on #5
How about this function:

    const V4x64U mask(0x5555555555555555ull);
    v0 ^= AndNot(mask, packet);
    v1 ^= mask & packet;
    V4x64U mul0(_mm256_mul_epu32(v0, v0 >> 32));
    V4x64U mul1(_mm256_mul_epu32(v1, v1 >> 32));

    v0 ^= ZipperMerge(mul1);
    v1 ^= mul0;

On my laptop, this runs in 0.35 c/b on 1KiB, compared to 0.37 for the original, so it is slightly faster.  Also, since easy st

[2016-03-09 23:23] waywardgeek commented on #5
A slightly faster version:

    const V4x64U mask(0x5555555555555555ull);
    V4x64U mul0(_mm256_mul_epu32(v0, v0 >> 32));
    V4x64U mul1(_mm256_mul_epu32(v1, v1 >> 32));
    v0 ^= mask & packet;
    v1 ^= AndNot(mask, packet);
    v0 ^= ZipperMerge(mul1);
    v1 ^= mul0;

This runs in 0.32 c/b on my laptop.  I prefer the ^= over +=.  When absorbing the packets, it lets us know exactly which bits

[2016-03-10 10:20] jan-wassenberg commented on #5
It's a tricky balance between distribution, speed and predictability. Unfortunately this latest proposal has insufficient avalanching (> 1.5% bias). I think we do need to OR in bits before multiplying, and the carry ripples from + instead of ^ also help in mixing.
Your previous mask 0x71..71 mask seems to work well.

[2016-03-10 10:56] waywardgeek commented on #5
On Thu, Mar 10, 2016 at 2:20 AM, Jan Wassenberg <notifications@github.com>
wrote:

Can you explain how avalancing bias is computed?  Thanks.

[2016-03-10 11:02] jan-wassenberg commented on #5
Sure :) That's the "Avalanche Tests" section in smhasher.cc (the RunAllTests function we talked about). I recommend running that after every change that changes the hash algorithm.

[2016-03-13 12:21] waywardgeek commented on #5
I played around with a number of variations.  This one runs in 0.35 c/b, which is faster than the original at 0.37 c/b on my laptop, and it passes avalanche tests.  It has some other properties I like as well:

    V4x64U mask(0x5555555555555555ull);
    v0 += mask & packet;
    v1 += AndNot(mask, packet);const
    V4x64U mul0(_mm256_mul_epu32(v0, v0 >> 32));
    V4x64U mul1(_mm256_mul_epu32(v1, v

[2016-03-15 12:50] jan-wassenberg commented on #5
Thumbs up, that does well on avalanche and speed is also good.
Also looks to solve the zero-state problem - even if either state is zero, nonzero bits would be mixed in during the round. I like it, but let's wait for jyrki to comment.

[2016-03-19 10:08] waywardgeek commented on #5
I now believe that we should not try to modify HighwayHash to be suitable for generating fingerprints.  Instead, it should remain optimized for MAC generation.  If we decide to focus only on MACs, I think this issue can be closed.  The original HighwayHash function does not have a problem escaping 0 when the key is not known to the attacker.

Like SipHash, HighwayHash in its current form should no

[2016-04-22 14:16] jan-wassenberg commented on #5
We've tested the above Update (plus modifications to Init and Finalize) with the smhasher bias metric and the additional histogram/state visualizations and it looks good! I've pushed an update and we can consider this issue solved. Thank you for suggesting this modification!

[2016-04-22 14:16] #5 closed

[2016-05-02 17:12] dgryski opened #10 "Add links to alternate implementations in the README?"
I have ported the scalar highway hash to Go (https://github.com/dgryski/go-highway).  A quick GitHub search shows Node (https://github.com/lovell/highwayhash) and Rust (https://github.com/vks/highwayhash-rs) too.  It might be nice to mention these in the README.

[2016-05-09 09:04] jan-wassenberg commented on #10
Sorry about the delay, I'm back. Thanks for porting to Go and making us aware of the other implementations :) All are now linked in the README.

[2016-05-09 09:04] #10 closed

[2016-06-22 14:31] vks opened #11 "No C bindings for HighwayTreeHash and SipHash"
It used to be possible to bind against these, however this is no longer the case.

[2016-06-22 15:47] jan-wassenberg commented on #11
Hi Vinzent, we were keen on simplifying the headers (already complicated due to conditional compilation  and *State classes). How about this approach using a separate header?

[2016-06-22 16:28] vks commented on #11
I think that would be the best solution.

[2016-06-22 18:21] jan-wassenberg commented on #11
Glad to hear it, thanks :)

[2016-06-23 10:06] vks opened #12 "build fails"
The gunit dependency breaks the build for me:

[code]

I'm not sure how to get it.

[2016-06-23 10:08] vks commented on #11
The bindings seem a bit inconsistent:

* `ScalarHighwayTreeHashC` and `SSE41HighwayTreeHashC` seem to duplicate `ScalarHighwayTreeHash` and `SSE41HighwayTreeHash`. I think only the ones with a C suffix should exist?
* There is `ScalarSipTreeHash` and `SipTreeHash`. They should probably get a `C` suffix as well?
* `HighwayTreeHashC` was not callable from C before, so it's nice to have it.
* There i

[2016-06-23 10:20] vks commented on #12
A workaround is not compiling the test:

[code]

[2016-06-23 10:50] jan-wassenberg commented on #12
I'm sorry the test is complicating things. Looks difficult to keep the internal and external version in sync there.
FYI the test infrastructure is also open-sourced (https://github.com/google/googletest), but I've not tried integrating the open-source version.

Not ideal, but your workaround is fine. FYI building only the main app is possible with simpler syntax:
bazel build -c opt --copt=-mavx2 -

[2016-06-23 11:25] vks commented on #12
For my purpose I don't need the executable, only the libraries for static linking. So I'm actually using `-:sip_hash_main` as well.

I think it is fine to depend on googletest, but it should probably be mentioned in the README where to get it and how to compile without it by not building the tests.

[2016-06-23 12:45] jan-wassenberg commented on #11
The C-suffix functions have two disadvantages: they're harder to inline (requires link-time inlining because they're not in the header) and the key parameter is not type-safe (can cause out of bounds accesses - SipHash expects 2 uint64, the others 4). That's why we'd like to keep the C bindings separate :)

Honestly, I don't see much value in SipTreeHash because it's not drop-in compatible with Si

[2016-06-23 12:46] jan-wassenberg commented on #12
Ah, I understand. Thanks, I've mentioned your workaround and the dependency in the README.

[2016-06-23 12:46] #12 closed

[2016-06-23 12:56] vks commented on #11
I see. I bound against the non-suffix functions and it worked, probably due to an implicit cast.

Looks good to me, except that `SipHashC` seems to be missing from `c_bindings.h`.

[2016-06-23 13:00] jan-wassenberg commented on #11
Thanks for looking, sorry about the missing SipHashC. Will add that next week :)

[2016-06-30 13:36] jan-wassenberg commented on #11
Done :)

[2016-06-30 13:36] #11 closed

[2016-06-30 16:02] pvg opened #14 "build fails on OS X"
[code]

When built with

[code]

Adding an #include \<string\> in sip_hash_main.cc seems to fix it.

[2016-06-30 17:11] jan-wassenberg commented on #14
Fixed, thanks for reporting this!

[2016-06-30 17:11] #14 closed

[2016-06-30 17:17] vks commented on #11
Great, thanks!

[2016-07-05 14:18] Sanmayce opened #15 "A Cmple question: Why not in C also"
Hi,
I wish to run your **scalar_highway_tree_hash** using 64bit Intel Optimizer, two things:
- What are the drawbacks of having the C counterpart of your CC master?
- If you are not willing to write it in C, could you make a benchmark tool featuring simple main loop and hashing fixed length data - I want to test it by feeding it with 1 trillion Knight-Tours and compare the dispersion quality of:
-

[2016-07-06 14:35] jan-wassenberg commented on #15
Hi, not sure I understand what you're asking.
Does your CPU support SSE4.1? If so, SSE41HighwayTreeHash is much faster than ScalarHighwayTreeHash.

It would be quite hard (and disadvantageous) to switch the entire implementation to C, but what you can do is compile with a C++ compiler and link it with a C program.
The wrappers in c_bindings.h are not used in the C++ interface because those are not

[2016-07-06 18:01] Sanmayce commented on #15
Thanks, forget it.
My wish was to hash 128 bytes long blocks and see what dispersion/speed **scalar_highway_tree_hash** written in C would offer.

[2016-07-07 12:08] jan-wassenberg commented on #15
OK :)

[2016-07-07 12:08] #15 closed

[2016-08-03 12:05] jan-wassenberg opened #16 "Add low-overhead profiler and nanobenchmark"
We need very high-resolution timers and robust statistics for precise measurements of throughput at various input sizes.

[2016-08-03 12:06] jan-wassenberg opened #17 "Publish the test suite/security metrics"
We'd like to publish the test suite, forked from smhasher and much faster thanks to data-parallel optimizations. This requires a portable thread pool and removal of other dependencies.

[2016-08-05 13:01] jan-wassenberg commented on #16
Done!

[2016-08-05 13:01] #16 closed

[2016-08-08 07:57] lorenzhs opened #18 "Missing include of <cmath> in nanobenchmark.h"
The overload `std::abs(float arg)` is declared in header `<cmath>`, which is not currently included in [nanobenchmark.h](https://github.com/google/highwayhash/blob/master/highwayhash/nanobenchmark.h). This causes the build to fail on my system (Debian unstable, g++ 6.1).

[2016-08-08 10:17] jan-wassenberg commented on #18
Thanks for reporting, fixed :)

[2016-08-08 10:17] #18 closed

[2016-08-09 15:38] lorenzhs opened #19 "nanobenchmark: RaiseThreadPriority seems to have adverse effects?"
I get better results in the memcpy example when removing the call to `RaiseThreadPriority`. I'm on a Core i7 4790T running a fully up to date copy of Debian unstable. Results of the example as-is:

[code]

With the call to `RaiseThreadPriority` removed:

[code]

Note that the time for sizes 4 and 7 decreased by ~1.3 cycles, the other two are constant.

The results for each version vary a bit but t

[2016-08-09 15:46] lorenzhs commented on #19
Well after playing around with it a bit more I now have a binary for the original case that is much slower, compiled with the same flags and all (but not identical). I really don't understand what's happening any more.
[code]
...I'm thoroughly confused.

[2016-08-11 14:13] jan-wassenberg commented on #19
Thanks for getting in touch! This is really strange. I see the same on our machines. With sudo+RaiseThreadPriority:
`Resolution<32> 112
NumReplicas 747
 3: median= 60.3 cycles; median abs. deviation= 0.5 cycles
 4: median= 23.3 cycles; median abs. deviation= 0.8 cycles
 7: median= 23.5 cycles; median abs. deviation= 0.4 cycles
 8: median= 79.0 cycles; median abs. deviation= 0.5 cycles`
and sudo wi

[2016-08-11 14:43] lorenzhs commented on #19
Thanks for confirming that it's not just my machine acting up :) Very mysterious indeed, please let me know if you ever find out what's causing it.

[2016-08-11 14:48] jan-wassenberg commented on #19
Will do :) Let's leave this issue open until we have some new insights.

[2016-08-12 16:11] Bulat-Ziganshin opened #20 "Publish SMHahser binding and results"
AFAIR, You have mentioned in encode.ru forum that HighwayHash passed SMHasher tests with better results than any other hashes. Can you please publish your results and SMHasher integratyion code?

I'm excited since it seems that even SHA1/MD5 doesn't provide results different than MurMur3/Spooky2/xxHash, i.e. all these hashes are indistinguishable from ideal hash as far as you meaure only with SMHa

[2016-08-12 16:38] jan-wassenberg commented on #20
Hi Bulat, thanks, we're working on it :) The ThreadPool dependency is already resolved, we're still thinking about how/where to release the revised smhasher.

[2016-09-05 04:57] rasmi opened #23 "Build fails"
My build fails when compiling through Bazel (while building TensorFlow).

[code]

Adding the `-fpermissive` does allow it to continue with warnings, at which point I get this error:

[code]

[2016-09-05 10:02] jan-wassenberg commented on #23
Hi, thanks for reporting. We require GCC 4.8 for "alignas". Is it an option for you to compile with a more recent GCC or clang?
Alternatively, you can replace alignas(32) with __attribute__((aligned(32))).

[2016-09-05 14:23] rasmi commented on #23
Hi @jan-wassenberg, thanks for the reply. Here's my diff:
[code]
Unfortunately, compiling with gcc 4.9.1 leads with a whole set of other errors (though not with highwayhash), and the next-closest version I have is 4.7.2. I'm using a compute cluster so the gcc versions available to me are limited.
I'm now getting the same error:
[code]
Here's the block of code. Could it be a syntax issue?
[code]

[2016-09-05 14:33] jan-wassenberg commented on #23
Hi, good news, it will compile with just a minor change; GCC wants the type first and attribute second.
char attribute((aligned(32))) -> attribute((aligned(32))) char.

[2016-09-05 14:41] rasmi commented on #23
@jan-wassenberg still getting a similar error. Sorry for the silly fixes:
[code]

[2016-09-05 15:53] jan-wassenberg commented on #23
hehe, I see what happened. The Markdown syntax ate the underscores; it should read `char __attribute__((aligned(32)))`.

[2016-09-05 21:50] rasmi commented on #23
@jan-wassenberg Thank you so much! That worked!

[2016-10-15 12:40] vks opened #25 "Cannot build with bazel"
I'm getting this error when trying to compile highwayhash with bazel:

[code]

Maybe `base` is something internal at Google?

[2016-10-16 07:45] jan-wassenberg commented on #25
Hi Vinzent, that's correct, the real problem is the lack of "manual" tag. I've added it, so that test target should no longer be built unless manually specified. Thanks for reporting, and please let me know if that doesn't solve it for you :)

[2016-10-16 07:46] jan-wassenberg commented on #17
Some progress: we have removed the dependencies and restructured the interface into a library. Open-source review is still pending, no estimate available yet.

[2016-10-19 09:28] vks commented on #25
Thanks for the fix, now I'm getting this error:

[code]

[2016-10-22 18:41] jan-wassenberg commented on #25
Thanks for bringing this up. Looks like Bazel has changed its behavior, this was previously allowed.
Coincidentally we're changing the file structure to speed up builds, which will also remove the problem Bazel complains about.

Some questions for you: would it be troublesome if we changed the paths to ```#include third_party/highwayhash/..."```?
Also, do you need the Bazel build capability, or is

[2016-10-23 08:27] vks commented on #25
About your questions:
* I don't think changing the includes would be a problem.
* I'm linking statically against bazel, if I understand correctly this is currently not supported by the makefile. In fact, I would prefer to use make for the Rust bindings, because it is a much more lightweight/common dependency. So for me it would be fine to only have the makefile, if it supported static linking.

Ma

[2016-10-23 15:48] vks commented on #25
With #26 I no longer need Bazel for the Rust bindings.

[2016-11-02 14:51] mnicky commented on #23
I've run into this issue (while compiling tensorflow) as well.

@jan-wassenberg: if the change you suggested makes the code compatible with more gcc versions, why not to make it permanent?

[2016-11-02 15:24] jan-wassenberg commented on #23
Hi @mnicky, it's a tradeoff - one disadvantage of __attribute__ is that it's not supported by MSVC. I had hoped that C++11 is widely available by now. Can you share which GCC version you have, and why it's infeasible to use a more recent version? Perhaps we might switch to a macro if necessary.

[2016-11-02 15:28] rasmi commented on #23
@mnicky, if you are in a scientific computing Red Hat / CentOS environment, you might have more recent versions of gcc available. Try `module load gcc<tab complete>` to check. The default on my system was much older than the other available versions. Disregard if this isn't your situation...

[2016-11-02 16:24] mnicky commented on #23
I have gcc 4.7.2 which is included in Debian Wheezy that runs on our cluster. In this case I'm able to modify the source file to get rid of the compilation error. I was just curious why the workaround/fix didn't get it into the master. I think there are still quite a few people running older versions of gcc without possibility of upgrading. And as highwayhash is needed to build tensorflow, I'd ass

[2016-11-02 17:47] jan-wassenberg commented on #23
Ah, thanks for mentioning your GCC version. That's still fairly recent; it is unfortunate that alignas didn't make it in until 4.8. We will soon add a PIK_ALIGNAS macro that resolves to alignas or falls back to attribute.

[2016-11-03 10:45] jan-wassenberg commented on #25
Thank you for the Makefile update :) The include path changes and a few other fixes are coming soon.

[2016-11-03 10:45] #25 closed

[2016-11-04 12:15] jan-wassenberg commented on #23
The fix is in - please reopen if there's still an issue :)

[2016-11-04 12:15] jan-wassenberg commented on #23
The fix is in - please reopen if there's still an issue :)

[2016-11-04 12:16] #23 closed

[2016-11-04 14:26] tromp opened #27 "latest build broken"
dear Jan,

trying to build the latest version:

$ make all
g++ -std=c++11 -O3 -mavx2 -Wall -I.   -c -o highwayhash/os_specific.o highwayhash/os_specific.cc
highwayhash/os_specific.cc:1:61: fatal error: third_party/highwayhash/highwayhash/os_specific.h: No such file or directory
compilation terminated.
<builtin>: recipe for target 'highwayhash/os_specific.o' failed
make: *** [highwayhash/os_specifi

[2016-11-04 15:22] jan-wassenberg commented on #27
Hi John, thanks for reporting this :)
Is it an option to let your highwayhash/highwayhash/ reside in a directory called third_party? If so, it should work now that I've updated the Makefile.

FYI we had to change the include paths because -isystem is quite costly for Bazel. It would be nice if we can keep the source code the same internally and in Github.

I agree uint64 is unfortunate. This defin

[2016-11-04 15:38] tromp commented on #27
dear Jan,

It still fails with the new Makefile:

...
Updating 6c32c9f..be6156e
Fast-forward
 Makefile | 2 +-
 1 file changed, 1 insertion(+), 1 deletion(-)
$ make all
g++ -std=c++11 -O3 -mavx2 -Wall -I../..   -c -o highwayhash/os_specific.o highwayhash/os_specific.cc
highwayhash/os_specific.cc:1:61: fatal error: third_party/highwayhash/highwayhash/os_specific.h: No such file or directory
compilat

[2016-11-04 15:46] jan-wassenberg commented on #27
Hi John,
would it be an option to move the repository to /home/tromp/**third_party**/highwayhash/highwayhash/ ?
Then, /home/tromp/ is on the include path and we can pick up third_party/highwayhash/highwayhash/*.h from there.

[2016-11-04 16:16] tromp commented on #27
dear Jan,

yeah, that works.
But it's the strangest requirement ever to assume a directory name containing a git-repo :-(

Btw, my reason for using highway hash is that I designed the Cuckoo Cycle proof-of-work, at
https://github.com/tromp/cuckoo/
which is based on siphash-2-4, and wanted it to spend less time on hashing,
(and hence more on memory latency).
Previously it was computing siphash one

[2016-11-04 17:38] jan-wassenberg commented on #27
It is admittedly unusual - do you have an idea how we could keep the source code identical between the internal/external repository and avoid sed scripts in both directions? I suppose we could ```#define''' the header names, but that's also ugly.

Very interesting application, I enjoyed reading your blog, thanks!

FYI we have also observed that an SSE4.1 version of SipHash is actually slower than

[2016-11-04 18:25] tromp commented on #27
dear Jan,

I don't understand how your internal repo differs.
When you have
#include "third_party/highwayhash/ ...
in a source file, doesn't that file reside in a "highwayhash" directory?

You're welcome!

A siphash round does 6 ROTL's but 3 of them are short-aligned and
thus can be replaced by short-permutations.
I can see that this prevents a 4x speedup, but I'd still expect around 3x.
What I go

[2016-11-05 16:09] tromp commented on #27
I left some accidental noinline attribute in cuckoo.h distorting the above hash only times.
Here are the corrected numbers:

$ time ./hash_only hash
sum 8017e0b5
real	0m7.846s

$ time ./hash_only_avx2
sum 8017e0b5
real	0m11.029s

In other words, the AVX2 4-way version is actually 40% slower!

I also made myself an 8-way version, and that one finally catches up:
$ time ./hash_only_avx2 # compiled w

[2016-11-10 10:42] jan-wassenberg commented on #27
Hi John,

It does, but our paths are absolute. The workspace root contains a "third_party" folder within which highwayhash resides. In other words, the include path is actually the full path from workspace root to the header.

Ouch! But yes, we also observed scalar code was faster.

Interesting. Are you sure the generated code lacks ROTL? Compilers can recognize the two shifts and replace with ROT

[2016-11-10 15:04] tromp commented on #27
dear Jan,

The why not make them relative? Why would need to step out of the
highwayhash directory?

It takes more effort to catch up.with avx2. If you check my latest
cuckoo commit, you can see that siphash.h, in addtion to the 1-way
siphash2x, also has 4-way, 8-way, and 18-way versions, the latter two
using multiple interleaved 4-way ones.
For pure hashing, I get times
hashonly        7.87
hasho

[2016-11-11 13:00] jan-wassenberg commented on #27
The Bazel build system generally uses absolute paths. I think the original rationale involved some symlinks in the root directory.

Interesting measurements. I'm surprised how much performance varies. Looks like an interaction between running out of architectural regs and spilling to stack, versus better execution unit utilization (probably not latency hiding because these are all single-cycle ope

[2016-11-11 14:51] tromp commented on #27
dear Jan,

Looks like Bazel needs a little github-friendliness love :-)

Any idea how to test for these hypotheses?

regards,
-John

[2016-11-11 16:28] jan-wassenberg commented on #27
I'd just look at the generated code and note how many memory accesses (spills) there are in the various versions.

Will be on the road until next Fri and slower to reply. Have a good one!

[2016-11-14 15:21] tromp commented on #27
dear Jan,

There's no spilling that I can see, except with the 16-way siphash,
where ymm15 is occasionally written to and read back from the stack.
But the 4-way and 8-way siphash never spill...

regards,
-John

[2016-11-16 21:26] jan-wassenberg commented on #27
huh, that's surprising. Some more ideas: unlucky prefetch strides (always difficult.. might also try normal loads instead of prefetch), unaligned branch targets, larger code exceeding the uop cache capacity.

[2016-11-25 14:09] rurban opened #28 "False security claims"
Please refrain from using the false SipHash security claims and adding your own nonsense.

"cryptographically strong pseudo-random function"

"Expected applications include DoS-proof hash tables and random generators."

"SipHash is immune to hash flooding because multi-collisions are infeasible to compute. This makes it suitable for hash tables storing user-controlled data."

SipHash is not so eas

[2016-11-25 14:29] veorq commented on #28
Hi Reini,

SipHash co-author here.

You argue that SipHash is not "cryptographically strong". The research paper about SipHash at http://aumasson.jp/siphash/siphash.pdf makes specific claims about its cryptographic strength, in section 3. As of today none of those claims has been contradicted.

In section 7 of that same paper we discuss in more detail why SipHash (and more generally a secure PRF)

[2016-11-25 15:10] jan-wassenberg commented on #28
I think hash tables are a less interesting use case than fingerprints/'random' data-dependent decisions.
Fingerprints are short-lived, so we are OK with MAC-level security. I cringe to see more insecure functions used for such a purpose.

FYI we have studied differential/length extension/rotational/SAT solver attacks against HighwayHash without finding a weakness (paper pending publication).

[2016-11-25 15:55] Bulat-Ziganshin commented on #28
it should be the same with SHA, does that make it non-cryptographic too?

[2016-11-25 16:01] rurban commented on #28
@Bulat-Ziganshin SHA{1-3} are thanksfully not advertised as DoS resistant hash table function.
SipHash is used as 32 or 64bit hash table function, SHA as a mostly 256 bit cryptographic hash function.

So yes, a 14bit rest of SHA is of course non-cryptographic, and a 32bit SipHash is also non-cryptographic. Everything less than 128-256 bits and easily crackable hash is not crypto.

[2016-11-25 16:10] Bulat-Ziganshin commented on #28
i think that definition of cryptograhic doesn't depend on size, but on inability to restore hashed data otherwise but brute-force?

while SHA isn't advertized in this way, it's considered as DoS protection due to properties of cryptohashes.

The key point to DoS protection is to keep low population of hash buckets. It's not enough to find a single  collision to make a DoS attack. Can you show the

[2016-11-25 16:27] rurban commented on #28
@veorq thanks for showing up. djb only hid behind funny twitter allegations.

I have nothing against your siphash paper section 3 claims. They are sound. What is unsound is the usage in popular discussions such as here, and in most dynamic languages using parts of your claim in section 6 and esp. 7 to add crypto-nonsense you didn't write.

What is quoted from section 6 (performance) is that SipHas

[2016-11-25 16:31] veorq commented on #28
I'm sorry but there are too many incorrect or unsubstantiated claims here.
PoC || GTFO :-)
On Fri, 25 Nov 2016 at 17:27, Reini Urban <notifications@github.com> wrote:

[2016-11-25 16:53] Bulat-Ziganshin commented on #28
can you show how to restore hash seed from hash values, using solver or any other technique you like? i think it's a principal point. Both PRF made a lot of work to ensure that it's impossible, the rest is more problem of applications using PRF in inappropriate way.

[2016-11-25 19:32] infinity0 commented on #28
The shit-talk and minion-emoting here is embarassing. Twitter is poisoning your brains.

It sounds like too many people are getting overly-emotional about the precise definition of "secure" vs "insecure" and what that is applied to, but @rurban's points make perfect sense and I would not be surprised if there was a PoC developed in the next few years, if this trend continues and people use good ha

[2016-11-25 20:01] rurban commented on #28
@Bulat-Ziganshin The attack is trivial as explained two fold. First you get the seed via various means, i.e. by the timing attack as of WOOL 2009 (but better via solvers and exposed ordering). Then you brute force any "cryptographic secure PRF" or "cryptographic secure hash function", as only 10-14 bits of the key are required to perform an practical attack, which is done brute-force in 10s - 4m (

[2016-11-25 20:22] rurban commented on #28
BTW:
If you want to advertise a fast cryptographical string hash function for hash table use, take the **AES** intrinsic, and not siphash or highwayhash. This is stronger and faster.

If you need a hash function with the best distribution qualities, i.e. least number of collisions for your typical ascii or utf8 key usage, advertise **CRC32-C**, which is also the fastest when using the intel/arm in

[2016-11-25 20:35] infinity0 commented on #28
Hang on, I thought your point was that hash table implementations can't assume they're secure just because they use SipHash or any other hash or keyed-hash function. That is what the rust issue was - it had little to do with SipHash itself, but with the hash table implementation surrounding it and how the seed was chosen.

Now you are saying you prefer AES - but I don't see where you explain why t

[2016-11-25 20:52] rurban commented on #28
Correct.

No. I prefer a simple, fast and small hash function as everyone else. FNV1 if bytewise or something better if I can use words or add NULs for alignment.

I was recommending AES when someone needs a fast and secure hash table function, but it still does not help against DoS.

SipHash is the slowest of all measured hash function usable for hash tables.
See my popular smhasher stats page: h

[2016-11-25 21:04] Bulat-Ziganshin commented on #28
10x, it's very interesting reading, but it ddoesn't indicate any flaws in SipHash. Results will be excatly the same with SHA, any AES-based hash or FNV. The key part of problem is that hash values are the same for both tables, and it's solved by seeding each

[2016-11-25 21:08] rurban commented on #28
And sorry for interact again, but djb said this nonsense:
"A bold claim without evidence from @Reini_Urban in https://github.com/rurban/smhasher/ …: generic SMT solvers can find keys for SipHash and (seeded) SHA1." https://twitter.com/hashbreaker/status/795990395490603009
which is of course wrong. But I don't discuss on twitter with him.

I claimed that I can find the seed with solvers, and if nee

[2016-11-25 21:17] rurban commented on #28
@Bulat-Ziganshin

There is no flaw in SipHash and probably neither in HighwayHash. (haven't tested that yet).
The flaw is the documentation and false advertising in the README part:

"cryptographically strong pseudo-random function" => technically correct, but nobody reads it that way, in the hash table context.

"Expected applications include DoS-proof hash tables and random generators." => false

[2016-11-25 21:29] Bulat-Ziganshin commented on #28
can you prove that point? indeed, AES-128 algorithms is well studied, but it needs 10 rounds, i.e. 10 AESENC instructions per each 128 bits of result, making it actually slower than HighwayHash. Singe AESENC instruction, as used by some hashes, doesn't guarantee anything.

FARSH is even faster. Using AVX2, it proceeds data in 32-byte chunks rather than 8-byte ones.

Since you don't plan to publish

[2016-11-25 22:01] rurban commented on #28
@Bulat-Ziganshin

I restore hash seeds from a combination of exposed timing and ordering info, knowledge of the hash function and hash table, with the unknown being the seed.
I'm not an academic, my job is to protect 70% of the internet users from such attacks.
Which is about the coverage of our apps. I'm talking CISCO style exposure here.
Exposing and making it easier to perform such attacks is n

[2016-11-25 22:10] jan-wassenberg commented on #28
To expand on Bulat's observation: Wool's attack (actually from 2007) sends "enough" packets for every possible hash seed, which for 13 bit seeds (!) and 150 us roundtrips (!) took several days. For my education, can you estimate how long your solver might take to find a 64-bit seed?
If you're relying on only recovering the lower log2(table_size) bits, wouldn't folding all hash bits into the result

[2016-11-25 22:21] dgryski commented on #28
@jan-wassenberg The Go runtime uses AES instructions for the internal (not user-visible) hash implementation.  It is seed per-table.

https://github.com/golang/go/blob/master/src/runtime/asm_amd64.s#L886

[2016-11-25 22:32] rurban commented on #28
@jan-wassenberg: timings attacks need a lot of time, yes. the primary information is the ordering, which only drives the timing for confirmation or rejection. a good strategy involves a model to find the search tree, hence a solver. maybe you get the idea. locally (without the 150ms roundtrip) it needs 5s.

smhasher is mostly expanding on hash table security, not hash function security. smhasher i

[2016-11-25 22:47] rurban commented on #28
@Bulat-Ziganshin Do you see my AES there? No, because I didn't write one yet.
I wrote the CRC part with a couple of rounds for the missing bits. A single round of AESENC does better mixing than CRC32 already, so it should be better than it. For hash tables a single xor-add or mult is enough. Every cycle counts. More collisions are no problem when the cycle count is better. collisions should be in

[2016-11-26 03:19] tarcieri commented on #28
Rust's latest problems are the result of a particularly bad interaction of all of the parts of the implementation in conjunction with a particular usage pattern (iterating over a `HashMap` and using it to populate another `HashMap`). It arises from the interactions between Rust iterators, ordered HashMap traversal, Robin Hood hashing (which Rust `HashMaps` use internally), and SipHash. [It's a nua

[2016-11-26 10:41] infinity0 commented on #28
Yes, we got that several posts earlier. The point is, it is incorrect and dangerous to say "$hashfunction protects against hash flooding" because the latter is an attack on hash table implementations and not hash functions. It would be like saying "AES protects against CPA/CCA attacks", no AES inside an appropriate block cipher mode of operation is what protects against CPA/CCA.

[2016-11-26 11:29] rurban commented on #28
@infinity0 exactly. Not a single hash function can be strong enough to protect against seed exposure in hash tables. 32 or 64 bit can never be secure.
The seed is not protectable by any hash function. It is usually trivial to expose it.

E.g. in debian perl you get the seed at process startup via

[code]
to stderr.

On centos7:
[code]

For a running perl process the seed is at a fixed offset from

[2016-11-26 14:58] jyrkialakuijala commented on #28
@rurban and others. First, I'd like to thank rurban to start this discussion. This is a good discussion to have, but we are talking about too many topics at once to make progress. I'd greatly prefer this discussion to be more tightly scoped.

For example, rurban's proposal of replacing highwayhash with crc32-c should be a separate issue that could be studied and discussed alone without discussing

[2016-11-26 15:01] dgryski commented on #28
@jyrkialakuijala Maybe open one issue for each of the first 8 specific items listed?

[2016-11-26 16:16] tarcieri commented on #28
Hence the very disingenuous nature of the entire statement "At least rust found out last month that this is nonsense, but are still claiming that SipHash is secure." And this on a thread about "false claims"

Exposure of the seed is well outside the threat model of hashDoS. You are talking about someone who has access to the host and later the ability to inspect arbitrary memory ("For a running pe

[2016-11-26 16:55] jyrkialakuijala commented on #28
Please, let's refrain from more personal attacks on this issue. Let's divide the discussion into multiple threads and try to make this into something positive for all of us.

[2016-11-26 20:17] veorq commented on #28
Agree with @tarcieri. IMHO you'll be wasting your time. I'll stop feeding trolls, but feel free to ping me for any serious question about SipHash.

[2016-11-26 21:17] jan-wassenberg opened #29 "Secure hash lookups"
It seems there is a disconnect between hash security models and actual practice.
I propose to add the following to the README:

## Defending against hash flooding

We wish to defend (web) services that utilize hash sets/maps against denial-of-service attacks. Such data structures assign attacker-controlled input messages `m` to bin `H(s, m) % p` using a seed `s`, hash function `H`, and preferably

[2016-11-26 21:21] jan-wassenberg commented on #28
@infinity0 has a fair point, there isn't much discussion of the interaction between hash functions and tables. I propose some explanation in #29, comments are welcome there.

[2016-11-26 21:53] rurban commented on #29
* How can you still claim that the hash function has anything to do with seed detection? It has nothing. There exist bad hash function, for which collisions can be found independent of the seed, but for normal hash functions not.

You can use a very slow hash function, like scrypt, which makes naive seed detection impractical, but also makes a hash table impracticle.
You can use a cryptograhically

[2016-11-27 00:24] funny-falcon commented on #29
You're right, resolution scheme matters:
-  double hashing could be done with single calculation of SipHash: use low 32bits as first hash and upper 32 bits as second.
- bucketized double hashing could be as efficient as linear probing in average (i did it already, i know what I'm talking about).
- cuckoo hash could also use sibngle SipHash calculation for both position, and bucketized cuckoo hash

[2016-11-27 09:12] rurban commented on #29
@funny-falcon

No it's not. I see that you still don't get it.
**A safe hash function does not exist for hash tables.** Such a thing cannot exist in hash tables. It's a wrong myth which needs to be destroyed. This myth originated with the SipHash paper and was widely adopted amongst some not so experienced developers.
There only exist fast/slow hash functions, and unsafe/bad/good hash functions. B

[2016-11-27 11:23] jan-wassenberg commented on #29
@funny-falcon:

Agreed :) HighwayHash is somewhat simpler/faster, would be great if it could be simpler still.
The ideas of PCG random are intriguing but apparently require some additional tricks to achieve good distribution and avalanching. We can gladly discuss this in another issue if someone is interested.

The minimum size depends on how long a hash must resist attack. 64-bit hashes are very

[2016-11-27 12:24] rurban commented on #29
@jan-wassenberg

I was claiming that many hash table implementations are bad, severe errors had been continuously found over decades of false security claims. I do not trust anybody other than linux and glibc on hash table security. Esp. not anyone who is arguing for SipHash as Anti-DoS measure.
Seeds do get exposed. Get over that. And then you brute force it.

AES (if mangled into a hash function

[2016-11-27 12:48] funny-falcon commented on #29
About chaining:
If you have strong hash function, you need not RBTree with ordering by key. You may use just unbalanced binary search tree with ordering by hashsum, cause balance is provided by randomness of hash function.
If you have no strong hash function, then you cannot use this trick.

It is quite simple to build "double hashing" which consumes most of hash bits:
[code]
And this will be very

[2016-11-27 13:30] funny-falcon commented on #29
@rurban , btw even SipHash should be used (if used) in SipHash13 configuration instead of SipHash24, cause it is already provides desired "strong level" for hash table and it is 25% faster on short strings and 50% faster on long strings.

[2016-11-27 13:43] funny-falcon opened #30 "Add SipHash13 variant cause it is already secure enough for most usages."
SipHash13 is already secure for use in hash table implementations, and most of other usages too.

Rust language already had switched to SipHash13. Discussion:
https://github.com/rust-lang/rust/issues/29754
Comment from Jean-Phillipe Aumasson:
https://github.com/rust-lang/rust/issues/29754#issuecomment-156073946

[2016-11-27 15:16] jyrkialakuijala commented on #28
@dgryski Yes, please go ahead. I don't know if the ones I proposed are the correct ones, I just tried to capture some that were possibly mentioned in the discussion. Also, the one who posts them should believe that they are actually a good idea. Otherwise we might not have a constructive discussion afterwards.

From my side, I can promise that we (Jan and me) will address all concerns seriously an

[2016-11-28 14:08] dgryski commented on #29
@funny-falcon The source code to Marvin32 is now available under the MIT license: https://github.com/dotnet/coreclr/blob/master/src/vm/marvin32.cpp

[2016-11-28 17:36] funny-falcon commented on #29
@dgryski , it is very delicate situation in legal sense:
- file is under MIT License,
- but patent promise tells only about .NET applications https://github.com/dotnet/coreclr/blob/master/PATENTS.TXT

So, do one have right to reimplement Marvin32? without copying parts of file? in other language?
Even if one may reimplement Marvin32, may one use it in cases covered by patent and not within .NET ap

[2016-12-03 23:03] jyrkialakuijala commented on #28
As promised earlier, I'm marking this closed. I'd like this discussion to happen, just not in this form. Please, keep every topic as separate as easily possible and maintain a tightly scoped discussion in the issues.

[2016-12-03 23:03] #28 closed

[2016-12-04 08:38] jan-wassenberg commented on #29
I'm back :)

@funny-falcon: thanks for proposing an unbalanced tree of hashes - we'll edit that into the original post as another alternative.

Even if the seed is exposed, the above cuckoo hash scheme comes with worst-case guarantees for insertion/lookup cost, which solves the flooding problem.

You have not yet contradicted the statements that strong hashes are required for the augmented cuckoo

[2016-12-04 08:42] dgryski commented on #29
Thanks for the heads up. I'll add a disclaimer to my repository.

[2016-12-04 10:54] rurban commented on #29
Nonsense. Your solution is not secure, only more secure and slower for the average case.
And my solution is simple, fast and secure.

[2016-12-04 12:04] dgryski commented on #29
@rurban Let's keep in mind that this repository is for a single hash function, not a hash table implementation claiming to be sure against all attacks.  The best you can hope for in this repo is a doc fix to the readme to clarify what security using highway hash provides.

Second, your threat model appears to include "attacker has the seed".  Very few cryptographic systems are secure against a kno

[2016-12-04 19:02] rurban commented on #29
@dgryski Exactly. I wanted only 3 introductory claims to be improved. This secure hash table discussion was only added to close the original issue, and keep hanging on the false and dangerous claims from SipHash. Which were mostly dangerous in the interpretation of the claims downstream.

Since so many systems make it trivial to expose the seed, you cannot claim security based on the secrecy of it

[2016-12-04 19:23] jan-wassenberg commented on #29
Please see the now edited OP for the newly proposed section. In particular, there are concrete proposals how to "avoid linear search", going beyond "kill it" or "sleep and log" (which might be counterproductive). Also note that the most theoretically sound collision resolution scheme mentioned so far, augmented cuckoo hashing, has a strong hash function as a _prerequisite_.

@dgryski and others, l

[2016-12-05 07:49] jan-wassenberg commented on #30
Hi, sounds useful, thanks for suggesting 👍 Would you be able to make a PR? I'd be happy to merge.

(If so: easiest to make SipHashState a template and replace the hardcoded <2>, <4> with params; let's also add a C wrapper to c_bindings.h.)

[2016-12-05 09:05] jan-wassenberg commented on #27
I believe this issue is resolved, please feel free to reopen if needed.

[2016-12-05 09:05] #27 closed

[2016-12-05 12:52] jan-wassenberg commented on #29
The proposed README changes are in. I will keep this issue open for a while and will be happy to incorporate additional feedback/suggestions.

[2016-12-05 12:56] rurban commented on #29
Thanks

[2016-12-05 13:06] funny-falcon commented on #29
+1 for README changes.

Note for my suggestion for "unbalanced tree":
- I meant, chained hash table could use unbalanced-tree instead of simple chaining. So, it is not switching from "hash-table" to "tree", but use "unbalanced-tree" for collision resolution in a hash table.

[2016-12-05 18:12] jan-wassenberg opened #32 "Modular reduction for finalization"
HighwayHash has 1024 state bits which are reduced to 256 bits via 3 additions. Most callers simply retain the lower 64 bits and discard the others. For additional security, it would be useful to include the additional state bits in the output.

It has been suggested to use AES to scramble the state during finalization. However, the nature of AES is  comparable to what HighwayHash is already doing,

[2016-12-05 18:54] Bulat-Ziganshin commented on #32
i always wonder what you mean by cryptographic hashes? sha-1? or PRF? if the first, existing cryptographic hashes performs an order of magnitude slower, so cryptohash of such speed will be a fantastic breakthrough. but, sorry, you are not famous cryptographers, nor any famous cryptographers ever tried to analyze your hash, so it seems that there are no serious proofs of its crypto-strength. if I,

[2016-12-05 18:58] Bulat-Ziganshin commented on #17
i wonder why you cannot just publish the smahasher results as is. i'm interested because i think that even simple hashes like spooky or my own zzhash gathers a best possible results in this particular test, so i want to check your claim that highwayhash provides results better than any other hashes

[2016-12-06 09:18] jan-wassenberg commented on #17
Sure, no problem, results are below. Just beware that it doesn't make much sense to compare results directly because this smhasher variant uses the PCG random generator and changes some of the test parameters (in particular, reps for AvalancheTest).
FYI we're planning on publishing this new parallel_smhasher by merging into github.com/aappleby/smhasher (to avoid the confusion of two similar but se

[2016-12-06 09:51] jan-wassenberg commented on #32
Fully agree, we are not cryptographers and well aware of that fact. Note that the README is very careful to say only "HighwayHash [..] may inspire new cryptographically strong hashes", and that there is no theory yet for provable security (beyond our own attack attempts): "New cryptanalysis tools may still need to be developed for further analysis".

We are aware of (and use) Poly1305; good securi

[2016-12-06 09:53] jyrkialakuijala commented on #32
Mixing is an art I think. HighwayHash mixing is based on two principles: to get maximum entropy (entropy because my brains are overly compression-oriented) at lowest amount of computation with the instructions we have at our disposal.

The kind of mixing we do should be roughly as effective as 2.5+ rounds of more conventional mixing (guesswork estimate). Mixing function G in RFC 7693 looks much le

[2016-12-06 10:44] jan-wassenberg commented on #29
Thanks for helping me understand your proposal. I have revised the README and also mentioned prime hash table sizes do not require expensive division/modulo.

[2016-12-06 10:51] rurban commented on #29
@jan-wassenberg

This is actually the other way round.

- prime hash table sizes are a good security counter measure, because there all the bits are used for the index, but require an expensive modulo.

- power of 2 size tables can by modulo'd much faster, usually via the ctz (count trailing zeros) builtin. But there only the last bits are used for the index, so brute-forcing such a table is much

[2016-12-06 11:01] jan-wassenberg commented on #29
@rurban : the reason I mention this is that it is surprising and counter-intuitive. Lemire's multiply-and-shift mapping (see link in README) combines the benefits of bitwise AND and division-by-prime - it uses all hash bits, gives a fair distribution and still avoids the expensive division.

[2016-12-06 23:43] Bulat-Ziganshin commented on #20
Dup of #17

[2016-12-06 23:43] #20 closed

[2016-12-08 12:53] jan-wassenberg commented on #30
Made minor additional changes: clang-format, rename to match coding convention, update readme.
Thanks for the suggestion and patch!

[2016-12-08 12:53] #30 closed

[2016-12-16 06:54] shahidhs-ibm opened #35 "Hash values mismatch on big endian Vs little endian"
While working on big endian machine, we observed that the hash results are coming different than what we got on little endian machine. Though this is expected behavior, by any chance is there any possibility to make the hash values consistent across big and little endian architectures?

A 64 bit byte swap in the "Update" method in "highwayhash/sip_hash.h", made the hash results consistent for us.

[2016-12-16 16:09] jan-wassenberg commented on #35
Thanks for pointing this out. I'd be happy to add bswap. Proposal:

    #if ARCH_X64
    #define HH_LITTLE_ENDIAN 1
    #define HH_BIG_ENDIAN 0
    #else
    #define HH_LITTLE_ENDIAN 0
    #define HH_BIG_ENDIAN 1
    #endif

      HH_INLINE void Update(const char* bytes) {
        uint64 packet;
        memcpy(&packet, bytes, sizeof(packet));
    #if HH_BIG_ENDIAN
        packet = HH_BSWAP64(packe

[2016-12-19 13:15] shahidhs-ibm commented on #35
Thanks for taking the request into consideration. The changes looks good to me.

[2016-12-19 17:31] jan-wassenberg commented on #35
Thanks for reviewing it! I'm out of the office this week and will push the change next week.

[2016-12-24 18:41] lemire commented on #32
@jan-wassenberg If you are going to go with modular reduction and you are using SIMD instructions anyhow, why not go with a GF2[x]/p(x) modular reduction like CLHash does? https://github.com/lemire/clhash

[2016-12-24 19:27] Bulat-Ziganshin commented on #32
@lemire, what's your exact proposal?

[2016-12-25 20:28] lemire commented on #32
@Bulat-Ziganshin

Well, for example, ``clhash`` relies on a 256-bit to 128-bit modulo operation....

https://github.com/lemire/clhash/blob/master/src/clhash.c#L22

We use the fact that 2^127 + 2 + 1 is an irreducible polynomial.

[2016-12-27 16:02] jan-wassenberg commented on #29
Looks like there are no remaining concerns, but please feel free to reopen if you have any further comments.

[2016-12-27 16:02] #29 closed

[2016-12-27 16:06] jan-wassenberg commented on #17
Here's a preprint with statistical analysis and preliminary cryptanalysis: https://arxiv.org/abs/1612.06257

We greatly reduced the variance of bias estimates by using 900M iterations instead of the 9M above.
Interesting result: the avalanche effect of SipHash13 and HighwayHash is comparable to that of the Blake2bp cryptographic hash.

We welcome any comments you might have!

[2017-01-04 14:14] jan-wassenberg commented on #35
Happy new year! Unfortunately it will be another couple of days until we get this pushed.

[2017-01-06 09:53] jan-wassenberg commented on #35
Done :)

[2017-01-06 09:53] #35 closed

[2017-01-11 08:06] jan-wassenberg commented on #32
Just a quick update, we're actively working on this.
The 2 CLMUL are slower than a HH round despite mixing less, but there is hope for a simpler reduction (in addition to, rather than replacing, the HH rounds).

[2017-01-11 09:29] shahidhs-ibm commented on #35
@jan-wassenberg Thanks a lot :)

[2017-01-13 22:05] jart opened #36 "Bazel build broken"
When exporting to GitHub, the `third_party/highwayhash/` prefix should be stripped from include lines so they become relative to the root of the repository. Otherwise I get errors like this:

[code]

[2017-01-18 16:10] jan-wassenberg commented on #32
We've successfully applied Lemire's lazymod127 approach to 256-bit hashes, the statistical tests show a benefit there. Thanks for suggesting it!
This is faster than CLMUL, with only 12 instructions because the reduction polynomial has 3 terms. We can save one instruction with a new variant of the 128-bit shift inside.

For 64 and 128-bit hashes, we're not seeing a benefit (actually higher average

[2017-01-18 17:02] Bulat-Ziganshin commented on #32
are you taked into account that mod127 returns 126-bit result?

[2017-01-18 17:15] jan-wassenberg commented on #32
It's a bit tricky.. the input is assumed to be 126 bit (which we ensure by masking),
but the output x' is a full 128-bit number that is congruent to x (mod the 2^127 polynomial).
Please see https://arxiv.org/pdf/1503.03465v8.pdf, page 10.

Another way to look at the reduction is that it is very similar to an XOR-fold, but with two shifted versions of the high part. To get a 256-bit result, we conc

[2017-01-18 18:03] Bulat-Ziganshin commented on #32
Don't rely on avalanche stats, they are just random numbers that randomly change on each change of the algorithm. You don't compute confidence interval, but from results already published i guess that 1-2% difference is just a random noise.

While it has full 128 bits, it carries only 127 bits of entropy (i was wrong saying that it's only 126 bits)

Note that clhash is 64-bit hash, so using 127-bi

[2017-01-18 18:16] vks commented on #36
This is intentional behavior introduced in 44f30a28f870cd8e82db7440bd77028935fb8f4d. See #27 for more background. The workaround is to put the directory of the git clone into `third_party/highwayhash` subdirectories.

[2017-01-18 18:44] jart commented on #36
I wrote https://github.com/google/highwayhash/commit/44f30a28f870cd8e82db7440bd77028935fb8f4d and it's not what I intended :)

[2017-01-18 21:10] vks commented on #36
Huh, I did not know that, sorry. I thought it was intentional because of @jan-wassenberg's comments in #27:

I don't really see how to fix this without resorting to some sed scripts or changing bazel.

[2017-01-18 21:14] jart commented on #36
There are two solutions to choose from:

1. `mkdir third_party && mv highwayhash third_party`
2. Use MOE or Copybara, which are pretty standard, and replace the includes on export / import.

[2017-01-18 21:15] jart commented on #36
Also getting rid of -isystem flags (the includes attribute in BUILD) is why I did it. But in order for it to work, the include paths in the repository need to be relative to the root of the repository.

[2017-01-18 21:21] lemire commented on #32
If we are referring to smhasher, I think that the avalanche tests are deterministic. There is a pseudo-random number, but with a fixed seed.

It is true however that testing the avalanche effect only on (pseudo) random inputs is weak. It seems that you'd want to also test with "clustered" inputs. That is, inputs that have a small Hamming distance.

[2017-01-18 21:37] jan-wassenberg commented on #36
Thanks for your comments, looks like option 2 is less painful in the long term.
I'm leaning towards MOE (more powerful than sed) and will be able to do this in a few days.

[2017-01-18 22:36] Bulat-Ziganshin commented on #32
@lemire, are you read their [paper](https://arxiv.org/abs/1612.06257) ? Pages 9-10 describes their use of smhasher to check which hash is better. In short, they use min/avg/max avalanche stats to decide which hash is better. But these results are pseudorandom, some number will be always smaller than another, and this difference tells nothing without statistical analysis. An example of their conclu

[2017-01-19 06:58] jart commented on #36
Feel free to mail me the CL making the MOe configuration change. I'll be happy to review.

[2017-01-19 07:42] jan-wassenberg commented on #36
Thanks, will do!

[2017-01-19 07:57] jan-wassenberg commented on #32
Yes, it is deterministic. I agree with Bulat, though - there could be some unlucky interaction between the hash state (arising from the hardcoded key) and the inputs (governed by PCG seed). Max is prone to outliers, so perhaps it would be better to have 1/10th as many iterations, but repeat each test 9 times and report the median. Does that sound reasonable?

This will take quite some time to (re-

[2017-01-20 18:05] jan-wassenberg commented on #32
With the default settings, yes - but higher-quality RNG and 300x more iterations and we start seeing differences.

We're now burning lots of CPU re-running tests with the median (of 11) suggestion. Looking forward to seeing results early next week!

[2017-01-20 20:38] Bulat-Ziganshin commented on #32
And that's the difference? I got close results for xxh32 and sha1. You got close results for 4 hashes you've tested. In my tests some hashes has better max value, but worser avg, others were on opposite side. You got the same results. The only difference is that we got to different conclusions, but you can make similar conclusion for any 4 randomly picked hashes - at least one of them will lose al

[2017-01-21 12:48] jan-wassenberg commented on #32
I understand you doubt the value of a test when it always returns "ok", but you are testing hashes that are all good. ARX constructs such as Murmur/XXH are known to avalanche well.

This test detected huge biases with FarmHash Fingerprint64 (> 4000x higher than the other hashes) which had not been reported previously.

Do you have suggestions for stronger tests? It would be interesting to generate

[2017-01-21 15:55] Bulat-Ziganshin commented on #32
Spooky employs only ARX operations, while murmur/xxh additionally employs mutiplication by even constant, and highway employs ARX plus 32*32->64 multiplication and byte shuffling. All these operations are reversible!

murmur3a and xxh32 fails because they use these operations on ***INDEPENDENT*** 32-bit states, so update effect of two sequentially processed words can easily revert each other (and

[2017-01-22 09:40] matteomonti opened #37 "Couldn't figure out how to install on a Raspberry Pi"
I am pretty sure this is a dumb question, hope you'll bear with me.
I have a clean install of Raspbian on a Raspberry Pi 3, just with git and the few tools needed to compile. I naively followed the very brief Build instructions on the README and attempted a `make`.

    g++: error: unrecognized command line option ‘-mavx2’
    <builtin>: recipe for target 'highwayhash/os_specific.o' failed
    mak

[2017-01-22 12:35] Bulat-Ziganshin commented on #37
the hash has 3 versions - avx2, sse4 and general cpu, you need the last one. that said, i wonder why you need 256-bit non-cryptographic hash?

[2017-01-23 15:11] jan-wassenberg commented on #37
Yes, ScalarHighwayTreeHash() from scalar_highway_tree_hash.h in the current code - we're moving to a template+runtime CPUID dispatcher soon.

I'd also be curious what your intended use case is. HighwayHash is only fast if some kind of SIMD is available. It's not yet ported to ARM's NEON.

[2017-01-23 17:39] jan-wassenberg commented on #32
The results of the additional smhasher tests you proposed show you are right, the differences in the avalanche stats are mostly noise. I shouldn't draw conclusions except that all functions avalanche about equally well in this test; we'll update the paper soon. Thanks for pointing out the problem!

Let's discuss this after answering your other findings.

Agreed, we see the same. The current Highwa

[2017-01-24 11:04] jan-wassenberg commented on #36
Thank you for reviewing. MOE worked, the resulting huge commit is pushed.
This removes the third_party/highwayhash prefix, which I trust fixes the issue. If not, please feel free to reopen!

[2017-01-24 11:04] #36 closed

[2017-01-24 11:07] jan-wassenberg commented on #37
FYI the portable implementation has been renamed to HighwayHashT<TargetPortable, HHResult256>.

The Makefile now contains a comment at the -mavx2 - you can remove that and disable the hh_avx2.o and hh_sse41.o makefile targets.

[2017-01-24 14:21] vks opened #38 "Makefile ignores CXXFLAGS"
Running commands like `CXXFLAGS=-fPIC make libhighwayhash.a` does not seem to work, it looks like the environment variable is ignored. (I think it did work before the recent changes.)

(I relied on this functionality for the Rust bindings (because Rust requires `-fPIC` even for static linking). A possible workaround is to patch the makefile, but it would be cleaner to just pass the additional flag

[2017-01-24 14:48] jan-wassenberg commented on #38
We could change the ```CXXFLAGS :=``` line into

    HH_ARCH := -mavx2
    HH_CXXFLAGS :=
    CXXFLAGS = -I../../ -std=c++11 -Wall -O3 $(HH_ARCH) $(HH_CXXFLAGS)
Then you could invoke ````make HH_CXXFLAGS=-fPIC```.

Would that help?

[2017-01-24 17:45] jart commented on #36
Wonderful. Thank you @jan-wassenberg for all the work you put into unblocking an issue I'm trying to solve for @namrata-ibm.

[2017-01-24 17:51] vks commented on #38
Yes, that would work!

(Not sure why the old way does not work anymore though.)

[2017-01-24 18:38] jart commented on #36
Where did the BUILD file go?

[2017-01-25 07:59] jan-wassenberg commented on #36
Wasn't included in highwayhash_opensource_filegroup. I like your idea of a SipHash-specific BUILD file, but please let me know if you want the entire BUILD file back.

[2017-01-25 07:59] jan-wassenberg commented on #38
Yes, that's surprising. But thanks for reviewing, I'll push this change tomorrow.

[2017-01-26 10:32] jan-wassenberg commented on #38
Done (c6c4810). Please feel free to reopen if you have other change suggestions!

[2017-01-26 10:32] #38 closed

[2017-01-26 16:09] vks commented on #38
Thanks, I updated my Rust bindings.

[2017-02-03 15:48] Sinan81 commented on #23
I am using GCC5.3.0, and getting the same error.
My set up is:
Bazel 0.4.3 (compiled from source)
Tensorflow 0.12.1 (from zip file)
GCC 5.3.0
Cuda 8.0
CuDNN 5.1

[2017-02-03 15:57] jan-wassenberg commented on #23
Can you include more output to show the actual compile error and in which file/header it occurs?
Should be a few lines below the "error executing command" you mentioned.

[2017-02-06 17:35] Sinan81 commented on #23
Sorry for the late reply. I started from scratch (including removing ~/.cache/bazel...), and it seems TF now compiles fine. Should I delete my previous message?

[2017-02-06 17:49] jan-wassenberg commented on #23
Glad to hear it! No worries, we can leave this issue unchanged/closed.

[2017-02-10 21:07] leo-yuriev opened #41 "It seems weak/zilch"
Now i not ready to clear define/describe the proof, but it seems to poor, near to пшик/zilch

[2017-02-10 23:04] lemire commented on #41
?

[2017-02-11 12:23] CDLuminate opened #42 "how to build a generic highwayhash library for different machines?"
Is setting `HH_ARCH=` (empty) enough for that purpose?

[2017-02-11 13:09] #41 closed

[2017-02-13 09:28] jan-wassenberg commented on #42
Hi, the existing code should already be able to compile a library for several x86 targets (AVX2/SSE4). Have you seen the HighwayHash64_Dispatcher interface in c_bindings and its highwayhash_target.cc implementation? Also, the hh_portable implementation should work on any little-endian machine (TODO: byte-swapping); we verify it on ARM and PPC, but with a newer version of the code.

This change wil

[2017-02-22 17:20] jan-wassenberg commented on #37
FYI the makefile is updated again, you can define the HH_AARCH64 variable to 1 and it should skip x86-specific things. Please feel free to reopen this issue if needed.

[2017-02-22 17:20] #37 closed

[2017-02-22 17:22] jan-wassenberg commented on #42
Just pushed the above mentioned change, it's huge. Rather than HH_ARCH, we now have make variables HH_X64, HH_POWER etc, which resolves the previous question of how to disable some make targets.

[2017-02-22 17:29] jan-wassenberg commented on #38
Hi, FYI we've fixed the underlying issue; the updated Makefile now just appends to CXXFLAGS, so we no longer need the HH_ARCH workaround. Sorry to change it again; my knowledge of Makefiles is increasing from a fairly low baseline :)

[2017-02-22 18:01] vks opened #43 "compilation with makefile does not work"
This patch fixes some include problems:

[code]

However, there is still another problem:

[code]

Maybe this file was not committed by accident?

[2017-02-23 12:44] jan-wassenberg commented on #43
Thanks for pointing this out!
Sorry about the include path breakage, we had a regex from ../../ to . that no longer triggered after changing the path to "../..".
I also didn't add test_exports.sh to the MOE sync config; fixed and pushed now :)

[2017-02-23 12:44] #43 closed

[2017-02-23 13:48] vks commented on #43
Great, thanks for the fix!

[2017-02-26 06:30] yurivict opened #44 "Warnings and errors from clang: warning: 'constexpr' non-static member, etc"
[code]

[code]

[code]

[code]

[code]

[2017-02-27 10:48] jan-wassenberg commented on #44
Thank you for letting us know! I'm fixing these now and will push soon.

[2017-02-27 16:36] jan-wassenberg commented on #44
Almost all fixed :) @yurivict, would you kindly try adding __attribute__((always_inline)) to SipHashState::Compress and see if that fixes test_exports.sh?
Thanks again for reporting these!

[2017-02-27 18:09] yurivict commented on #44
Thank you for fixing this!

When I added ```__attribute__((always_inline))```, the error with undefined symbol disappeared, but it fails now with this error:
[code]

Besides this, ```std::abs``` is still present in 1cbbe06.

[2017-02-27 18:11] yurivict commented on #44
Also, could you please apply this patch:
[code]

These includes are needed for printf and abort functions.

[2017-03-01 11:20] vks opened #45 "building the static library with -fPIC fails"
[code]

The newly added check for duplicated symbols fails.

[2017-03-02 20:21] jan-wassenberg commented on #45
I'm sorry we keep running into potholes here :)
Am able to reproduce with our gcc 4.8, thanks for reporting. We'll look into a fix on Fri.
In the mean time, you can disable this Make rule (just a safety check, and looks like a false alarm).

[2017-03-02 20:29] jan-wassenberg commented on #44
@yurivict:

Interesting - did you add that to HH_INLINE, or only to the Compress function? Surprising that this should change other code. Relocations being truncated usually indicates missing symbols or unreasonably huge (>2G) offsets. How exactly are you building/linking, and which clang version is it?

Yes, I was hoping the argument cast to T would make it unambiguous. Did that not fix the warni

[2017-03-07 17:36] jan-wassenberg commented on #44
Includes added - thanks again!

[2017-03-07 17:38] jan-wassenberg commented on #45
We're still thinking about the best fix. The most promising candidate so far is to move away from detecting duplicates (always prone to false-positives) towards ensuring e.g. SSE4 files only export symbols with "SSE4" in their name. Will be a few more days.

[2017-03-13 21:57] lovell opened #46 "Recent addition of endianess fails to compile on MSVC"
Hello, it looks like this started with commit e2098bc.

It's tripping up due to MSVC's non-availability of `<sys/param.h>` in [endianess.h](https://github.com/google/highwayhash/blob/master/highwayhash/endianess.h#L60).

Not sure what the best way to workaround this is but https://github.com/blizzard4591/cmake-portable-endian provides a possible start.

[2017-03-15 20:43] diegocrzt commented on #23
Hi guys, I am having the same problem with gcc 4.7.4
`ERROR: /home/diegocrzt/.cache/bazel/_bazel_diegocrzt/8df0525fbbd1e101024ee0b817c7eaef/external/highwayhash/BUILD:125:1: C++ compilation of rule '@highwayhash//:sip_hash' failed: gcc failed: error executing command /usr/bin/gcc -U_FORTIFY_SOURCE -fstack-protector -Wall -B/usr/bin -B/usr/bin -Wunused-but-set-parameter -Wno-free-nonheap-object -fn

[2017-03-15 22:05] rasmi commented on #23
@diegocrzt, you need to edit the file `external/highwayhash/highwayhash/state_helpers.h` to make the changes to line 31 that @jan-wassenberg listed above. It should read
```char __attribute__((aligned(32))) final_packet[State::kPacketSize] = {0};```
Then try re-compiling.

[2017-03-16 09:44] jan-wassenberg commented on #44
Hi @yurivict, are you still seeing any warnings, or shall we close this issue?

[2017-03-16 09:54] yurivict commented on #44
Still seeing these errors:
[code]

[2017-03-16 13:22] jan-wassenberg commented on #46
Oops, sorry - we don't build often with MSVC. Will fix momentarily by hard-coding to little endian on Windows (can override by defining BIG_ENDIAN=2, LITTLE_ENDIAN=1, BYTE_ORDER=2 in the project).
Thanks for reporting!

[2017-03-16 13:38] jan-wassenberg commented on #44
Thanks for mentioning it's still a problem! I just realized what seems to be going on:
<cstdlib> is (indirectly) included but cmath isn't; the former provides std::abs(int) but the std::abs(float) overloads are in the latter.
Surprisingly tricky but should be fixed now - thanks again!

[2017-03-17 03:23] diegocrzt commented on #23
@rasmi, thank you for you quick answer and sorry for not understanding at first time, I was lost on the first markdown issues 😆, highwayhash step is done but right now I have other issue, with the core tensorflow, I think this is probably related no more to this thread, but just to be sure, what do you think, it could be related yet ?
[code]

[2017-03-17 03:39] rasmi commented on #23
@diegocrzt no problem. That is an unrelated issue. According to [this thread](https://github.com/tensorflow/tensorflow/issues/7357), your version of gcc is too old. If you are using a scientific computing environment, try running `module load gcc` and tab-complete that command to see which versions you have available. Try loading the latest version and re-compiling.

[2017-03-17 07:23] lovell commented on #46
Thanks for the quick fix.

MSVC is also stumbling over the addition of `__builtin_memcpy` in [load3.h](https://github.com/google/highwayhash/blob/e2098bc92a8540e133b11207ed1f1abfca57724c/highwayhash/load3.h#L60) as part of the same commit.

[2017-03-17 11:32] diegocrzt commented on #23
Thank you @rasmi, is clear for me now. I will see what can I do with my environment

[2017-03-18 08:14] jan-wassenberg commented on #46
Added a Copy function wrapper to fix this - thanks for reporting!

[2017-03-18 10:41] lovell commented on #46
[Confirmed working](https://ci.appveyor.com/project/lovell/highwayhash/build/17) with MSVC, thank you very much.

[2017-03-18 10:41] #46 closed

[2017-04-19 03:57] CDLuminate opened #48 "[linux/Makefile] "pthread_create" not found"
[code]

Patch:
[code]

OS: Debian Sid

[2017-04-19 04:00] CDLuminate opened #49 "[linux] duplicated symbol DW.ref.__gxx_personality_v0"
[code]

I patched highwayhash with this change:
[code]

OS: Debian Sid
Compiler: GCC 6.3

[2017-04-19 12:41] jan-wassenberg commented on #48
Hi, thanks for getting in touch. How about we just add -lpthread to LDFLAGS?
I've just pushed that change. Please reopen if that doesn't solve the issue :)

[2017-04-19 12:41] #48 closed

[2017-04-19 12:42] jan-wassenberg commented on #45
FYI the test is currently disabled.

[2017-04-19 12:43] jan-wassenberg commented on #49
Thanks for reporting, we've disabled this test for now, please reopen if you are still seeing the issue.

[2017-04-19 12:43] #49 closed

[2017-04-19 12:43] #44 closed

[2017-04-19 12:44] #32 closed

[2017-04-19 12:44] #42 closed

[2017-04-19 12:50] jan-wassenberg commented on #19
Update: all our performance tests since then have not changed thread priority. I still have no explanation why it increases variability but am OK with omitting it on Linux.

[2017-04-19 12:50] #19 closed

[2017-04-19 14:59] CDLuminate commented on #48
Fixed. Thank you!

[2017-04-19 15:13] yurivict opened #50 "Please create an 'install' target"
GNU makefiles are usually expected to have 'install' target. It is expected to install under $(DESTDIR)/$(PREFIX).

[2017-04-19 15:13] CDLuminate opened #51 "Intend to package highwayhash for Debian"
Highwayhash is a tensorflow dependency. I'm working on the packaging, and I think the package can be uploaded soon as long as I import the latest version of highwayhash.

Preliminary packaging is available at a temporary packaging repository [1].

[1] https://github.com/cdluminate/debian-highwayhash

[2017-04-20 09:45] CDLuminate commented on #50
[code]

[2017-04-20 10:12] CDLuminate commented on #50
This patch fixes this issue:
[code]

[2017-04-20 10:36] CDLuminate commented on #51
The pre-upload package seems to be in good shape: http://debomatic-amd64.debian.net/distribution#experimental/highwayhash/0~20170419-g1f4a24f-1/buildlog

[2017-04-21 07:13] jan-wassenberg commented on #50
@yurivict , thanks for the suggestion, and @CDLuminate , thank you kindly for the patch.
I don't have much experience in this area but it looks good. Probably helpful to also add install to .PHONY? I'll merge these changes today.

[2017-04-21 07:17] jan-wassenberg commented on #51
Interesting, the link text works but the tilde seems to have some encoding issue in the "href" (when clicked directly).

Looks like the build succeeded, thumbs up! I'm unfamiliar with debian packaging - can you briefly explain the implications and/or any changes you need for that?

[2017-04-21 08:16] CDLuminate commented on #50
The install target is added in the pull request.

[2017-04-21 08:52] CDLuminate commented on #51
I'll briefly explain how the current preliminary packaging works. And the final package to be uploaded may be different from the current one.

First let's take a look at the [patch stack](https://github.com/CDLuminate/debian-highwayhash/tree/master/debian/patches)

1. the patch for adding install target is submitted as an PR, and the patch in PR is newer.

2. the another patch, somewhat gross, is

[2017-04-21 09:15] #50 closed

[2017-04-21 09:58] yurivict commented on #50
You should change
[code]
to
[code]

LIBDIR happens to be predefined in FreeBSD during the port build. There should be no need to allow INCDIR and LIBDIR to be predefined in the Makefile.

[2017-04-21 10:06] CDLuminate commented on #50
Actually I need to override the `PREFIX` and `LIBDIR` in Debian packaging script, so files can be installed to the correct place. See  https://github.com/CDLuminate/debian-highwayhash/blob/master/debian/rules#L5-L6

[2017-04-22 14:19] CDLuminate commented on #51
@jan-wassenberg Some questions:

1. Which architectures are officially supported? Are the `amd64 (aka. x86_64), arm64 (aka. aarch64), and ppc64el` ?

The package is nearly ready to be uploaded, as said by a reviewer from the Debian community. (see https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=860804#24 ). However it failed to build on all architectures other than amd64.

According to Makefile

[2017-04-27 01:46] CDLuminate commented on #51
The package was uploaded to Debian experimental. Closing this issue.

[2017-04-27 01:46] #51 closed

[2017-04-27 02:17] CDLuminate commented on #51
highwayhash fails to build on many architectures, I'll report this issue in detail soon.

[2017-04-27 08:54] jan-wassenberg commented on #51
@CDLuminate , thank you for explaining! Also great discussion in the debian thread, thanks for linking. It makes sense to remove/not distribute sip_tree_hash, that's superceded by HighwayHash anyway.

Yes. FYI I am quite unfamiliar with the latter two archs, and can only confirm that example and highwayhash_test compile and run  on those platforms given the config here.

We can't build 32-bit anym

[2017-04-27 10:10] CDLuminate commented on #51
@jan-wassenberg

All build logs can be found in this page: https://buildd.debian.org/status/package.php?p=highwayhash&suite=experimental   (click Build-attempted to view the buildlog, if you feel confused where it is)

A brief overview:

amd64: ok
arm64: ok, just needs a symbols update
ppc64el: ok, just needs a symbols update
ppc64: built but `Mismatch at size 2`, need the patch from IBM
x32: buil

[2017-05-02 03:31] CDLuminate opened #53 "SipHash in the kernel"
SipHash is shipped by linux kernel (>= 4.11).

https://lwn.net/Articles/711167/

[2017-05-02 11:51] jan-wassenberg commented on #53
Thanks for the heads-up! For anyone interested, here's the patch: https://patchwork.ozlabs.org/patch/712077/

[2017-05-07 03:57] CDLuminate commented on #45
Note, this PR https://github.com/google/highwayhash/pull/55 will enable `-fPIC` by default. And it seems to be working for both shared object and static one.

[2017-05-08 14:16] jan-wassenberg commented on #45
Yes, noted. Our test here was overzealous and eventually we'll change it as mentioned above.

[2017-06-27 17:09] tmandry opened #56 "Confusing wording about stability"
The README says:

It seems to imply that HighwayHash 1.0 exists and then says that it doesn't. Was this a typo, and it was supposed to say that a different hash function had reached 1.0?

On that note, are you waiting for further review by third parties to reach HWH 1.0? or something more specific?

[2017-07-11 11:45] jan-wassenberg commented on #56
Thanks for reaching out! I'm sorry about the delay, am now back from vacation.

Yes, that's trying to say that once declared frozen, HighwayHash will not change,
but we have indeed been waiting for internal and external feedback before freezing.

We have two applications that intend to use HWH 1.0, so it'll probably be frozen soon (< 3 months).

What's your timeline? We may be able to decide to fr

[2017-08-11 23:07] yurivict opened #57 "lib/libhighwayhash.so should be a symbolic link to lib/libhighwayhash.so.0"
Rev. 2b666ae on FreeBSD installs both as identical files, because 'install' on BSD does this.

[2017-08-12 00:04] yurivict opened #58 "install flags are wrong"
1. headers should be installed read-only: 0444
2. libhighwayhash.a should also be read-only: 0444
3. libhighwayhash.so should be 0555

[2017-08-15 15:20] jan-wassenberg commented on #58
Hi +yurivict, thanks for reaching out. I will attempt to fix this soon :) BTW we just added a PPC port and froze HHResult64.

[2017-08-15 15:25] jan-wassenberg commented on #56
Good news, we have indeed frozen HighwayHash64 (as well as the C++ implementation that returns HHResult64). The readme is updated accordingly.

The 128 and 256 bit functions (in particular: their finalization method) are not yet frozen.

[2017-09-18 20:11] schoedl commented on #56
We are interested in the 128-bit version. Any idea when it will be frozen?

Thx!

[2017-09-21 06:35] jan-wassenberg commented on #56
Thanks for reaching out! It is difficult to promise a date because of other commitments, but I'd imagine it can be frozen within a few months.
In the meantime, would versioning (storing a version flag, need only be zero or one) be an option?

[2017-09-21 06:46] schoedl commented on #56
We are currently on Murmurhash, so we'd stay there until the freeze.
I do understand correctly that the main design difference of Highwayhash over Farmhash is that Farmhash isn't designed for persistent hashing? That's something we need.

[2017-09-24 07:07] jan-wassenberg commented on #56
Sounds good.

FarmHash does provide persistent "fingerprinting" functions, but its 128-bit variant calls CityHash128.

HighwayHash is quite different: it is designed for cross-platform SIMD and is nontrivial to reverse if the seed is unknown (FarmHash multipliers are known, HWH multipliers are unknown to the attacker).

[2017-10-05 14:57] lirik16 opened #60 "[Ubuntu/Makefile] undefined reference to `pthread_create'"
Hi. On Ubuntu 16.04 with gcc version 5.4.0 20160609 (Ubuntu 5.4.0-6ubuntu1~16.04.5) I got the error.

[code]
It can be fixed by changing `override LDFLAGS += -lpthread` to `override LDFLAGS += -pthread`

[2017-10-05 15:39] jan-wassenberg commented on #60
Hi, thanks for reporting! From what I'm reading, -pthread indeed seems the preferred solution. I'll add it in about a week (currently traveling).

[2017-11-21 08:51] pombredanne opened #61 "Provide Python bindings"
It would be awesome if there was a Python binding for this. You do not happen to have one stashed somewhere by chance?
Thanks!

[2017-11-21 17:44] jan-wassenberg commented on #61
Hi Philippe, we don't yet have Python bindings and I don't have much experience with them, but would be happy to add them if you can send a patch :)

[2017-11-21 18:28] pombredanne commented on #61
@jan-wassenberg Thank you for the swift reply. I will try to give it a shot.... I especially appreciate the fact that this hash is "portable" e.g. as stated the 64 and 128 versions output will not change if I run the same code on the same input on two different machines (at least two AMD or Intel architecture CPUs) which is really awesome and important IMHO

Unrelated: any plan to publish some smh

[2017-11-23 13:26] jan-wassenberg commented on #61
Sounds good! Thanks, yes, unchanging fingerprint functions are very useful indeed.

smhasher results are posted here: https://github.com/google/highwayhash/issues/17

[2017-11-24 08:47] pombredanne commented on #17
I guess this binding will have to be named "The Snake" http://www.thesnake421.com/

[2017-11-30 09:32] wanghan02 opened #65 "Can we let runtime dispatcher support HighwayHashCatT's Append and Finalize operation?"
The runtime dispatcher InstructionSets::Run can only do the hash calculation once. If we want to append another block of data later and do the Finalize at the end (what HighwayHashCatT is used for), it doesn't work. This is because we need the hash state variable stored for Append and Finalize operations. But we cannot store this hash state variable directly in the application (outside the target

[2017-12-06 08:59] jan-wassenberg commented on #65
This is an interesting question, thanks for bringing it up. CPU dispatch in every Append could work, but that's an extra ~4 cycles plus the state will have to be loaded/stored rather than residing in registers.
Would it be an option for the caller of Append to instead be written as CPU-specific code with this template mechanism? Then the `::Run` would only need to be called once for the entire ser

[2017-12-29 10:06] #53 closed

[2018-01-03 10:29] jan-wassenberg commented on #60
@lirik16 Thanks again for reporting this. I updated the Makefile in eeea4463df1639c7ce271a1d0fdfa8ae5e81a49f, which also freezes the 128 and 256 bit variants.

[2018-01-03 10:29] #60 closed

[2018-01-03 10:29] jan-wassenberg commented on #58
@yurivict Thanks again for reporting this. I updated the Makefile in eeea4463df1639c7ce271a1d0fdfa8ae5e81a49f, which also freezes the 128 and 256 bit variants.

[2018-01-03 10:29] #58 closed

[2018-01-03 10:29] jan-wassenberg commented on #56
@schoedl
Good news, all (64/128/256-bit) variants of HighwayHash are now frozen and will not change.

[2018-01-03 10:29] #56 closed

[2018-01-03 10:30] jan-wassenberg commented on #61
FYI the 128 and 256 bit variants are now frozen (after increasing the number of finalization rounds to 6 and 10).

[2018-02-04 05:18] CDLuminate opened #66 "Fails to build on several architectures"
The newest version (Jan 3 2018) of highwayhash fails to build on several architecutures, as shown in the following link: https://buildd.debian.org/status/package.php?p=highwayhash&suite=experimental

Succeed: amd64, arm64, x32

Failed: armel, armhf, i386, mips, mips64el, ppc64el, s390x, alpha, hppa, hurd-i386, ia64, powerpc, ppc64, sh4, sparc64

Not sure: kfreebsd-amd64, kfreebsd-i386

I'd like to

[2018-02-04 08:30] jan-wassenberg commented on #66
Thank you for reporting this.
We also support ppc64 using Bazel. Looks like the Makefile needs updating.
Inserting the following should fix the [build error](https://buildd.debian.org/status/fetch.php?pkg=highwayhash&arch=ppc64&ver=0~20180103-geeea446-1&stamp=1516433197&raw=0
):

[code]
I'll push this change soon.

Yes, please help to disable builds on `*arm*,*i386,mips*,s390x,alpha,hppa,ia64,powe

[2018-02-06 11:08] jan-wassenberg commented on #66
Updated Makefile and added source file: d2dc080d540ac838c9b8f21d20879070699c50b6

[2018-02-07 03:41] CDLuminate commented on #66
I'm updating the package.

[2018-02-08 03:41] CDLuminate commented on #66
Oops. Still failing on ppc64, see https://buildd.debian.org/status/package.php?p=highwayhash&suite=experimental

ppc64el https://buildd.debian.org/status/fetch.php?pkg=highwayhash&arch=ppc64el&ver=0%7E20180103-geeea446-2&stamp=1518050846&raw=0

ppc64 https://buildd.debian.org/status/fetch.php?pkg=highwayhash&arch=ppc64&ver=0%7E20180103-geeea446-2&stamp=1518052138&raw=0

[2018-02-08 03:42] CDLuminate commented on #66
I just cherry-picked the ppc64 fix to that package. 8325e91ad54922206f86dde03351118a1318424f is not included.

[2018-02-08 13:52] jan-wassenberg commented on #66
Thanks for trying, my attempt at remote diagnosis failed ;)
I just installed a cross-compiler and fixed the Makefile plus two ifdef.
Hopefully will push the change tomorrow.

[2018-02-09 12:52] jan-wassenberg commented on #66
Done, 14dedec and c5e6e544edb6523f11111bb7c0ab09011416760f.
I tested with powerpc64le-linux-gnu-g++ and `make all HH_POWER=1`. Please let me know whether all issues are resolved :)

[2018-02-09 13:14] CDLuminate commented on #66
I'll upload a new version later with the new commits.

[2018-03-11 07:33] yurivict opened #67 "Installs files into wrong directories"
For example, ```/usr/local/highwayhash/vector256.h``` instead of ```/usr/local/include/highwayhash/vector256.h```. Same with libs.

[2018-03-16 23:22] electroglyph opened #68 "Different hashes for identical input...."
I'm using HighwayHash to hash tons of strings.  While reviewing some results I came across something odd: HH appeared to give a different hash for the same input.  Same key, same state, other inputs work normally.

The string that triggered this: "GCC: (GNU) 4.8.3" (quotes not included).  My test case is in C, with the previous string zero-padded to 32 bytes.  If I hash it 16 times I get 16 differ

[2018-03-17 02:02] dgryski commented on #68
Can you show us your source code?

[2018-03-17 19:40] electroglyph commented on #68
I'm retarded.

[2018-03-17 19:40] #68 closed

[2018-03-17 20:53] yurivict opened #69 "Files are installed into the root directory"
@lvandeve

This commit on Sep 12, 2017 broke Makefile:
https://github.com/google/highwayhash/commit/be5491d449e9cc411a1b4b80a128f5684d50eb4c

Now it doesn't install libraries into $(PREFIX). It installs them into root.

Now installed files look like this:
[code]

[2018-03-17 20:54] #67 closed

[2018-03-18 09:44] jan-wassenberg commented on #69
Oops, looks like we somehow removed the following from Makefile:
[code]
I've added this to TODO - thanks for reporting!

[2018-03-18 09:44] jan-wassenberg commented on #68
@electroglyph  No worries, mistakes happen :) Thanks for letting us know the problem is resolved!

[2018-03-26 03:11] CDLuminate commented on #66
ppc64el and arm64 builds were successful.

https://buildd.debian.org/status/package.php?p=highwayhash&suite=experimental

(the failures were due to packaging problems)

However ppc build is failing

[2018-03-26 10:59] jan-wassenberg commented on #66
Thank you for letting me know :)
Looks like the POWER8 instructions we require are not available on ppc. In that case, how about we  disable ppc and keep only ppc64el as supported?

[2018-03-26 13:50] CDLuminate commented on #66
@jan-wassenberg No problem. I plan to upload the package to unstable next time. Once uploaded, ubuntu bot will automatically pull that package to ubuntu devel soon.

[2018-03-27 07:28] jan-wassenberg commented on #66
Sounds good :D Please let me know if you need any further input.

[2018-04-03 16:04] CDLuminate commented on #66
@jan-wassenberg https://buildd.debian.org/status/package.php?p=highwayhash

The build failures are all resolved. I'm marking this issue as done.

[2018-04-03 16:04] #66 closed

[2018-04-03 16:31] jan-wassenberg commented on #66
Thank you :)

[2018-06-01 21:10] ifadams opened #70 "Extend C-Bindings?"
Hi,

Are there any plan to extend the C-Binding support, e.g. highywayhash256 with cat/append capabilities?

Thanks!

[2018-06-15 23:04] ifadams commented on #70
Hi Jan,

Sorry for the slow response.

Speed is indeed a concern, we originally used exactly the ones you pointed out.

Since then original question  we have made some hack-ey C bindings wrapped around the C++ but so far are drastically under-performing. We're definitely hitting the avx instructions (confirmed by with valgrind/callgrind), and getting correct hash values back, so I'm not sure what

[2018-06-17 19:20] jan-wassenberg commented on #70
Hi Ian, no worries!

I'm not sure I understand the problem - are you saying both the C and C++ versions are equally slow? What's the basis for comparison - the published benchmark results?

Some ideas: is the InstructionSets dispatcher involved? Especially with Cat, the app-specific code generating data and the calls to Cat really should be inlined together with only a single call to the dispatche

[2018-06-21 08:36] jan-wassenberg commented on #70
Oh, that's a surprise. We aren't using Cat in time-critical apps yet, and I did have trouble with the state not being kept in vector registers, but I'm still surprised it's slower than C.
Would you be able to share disassembly of the relevant parts to see where we're running into trouble?

[2018-06-26 17:11] jan-wassenberg commented on #61
Hey Phil, happy to see your binding, looks good 👍
I've added mention of it to the readme, please let me know if you'd like any changes.

[2018-06-26 17:55] pombredanne commented on #61
@kpdemetriou this is very nice. :bowing_man:  Thank you! I wished it would support Python 2 but that's not critical..
I think this ticket is good to close now.

[2018-06-26 17:56] pombredanne commented on #61
For reference the README commit is https://github.com/google/highwayhash/commit/9099074416ebc926c9e5e6f5143db92ebd9b4c03

[2018-06-26 17:56] #61 closed

[2018-06-30 00:31] TheIronBorn opened #71 "macOS build failure"
[code]

macOS: 10.13.5

[2018-07-10 00:34] TheIronBorn commented on #71
That seems to have worked fine. Thank you

[2018-07-11 20:13] ifadams commented on #70
Hi Jan,

As usual, we get sidetracked before circling around, apologies. I'll see if we can do that. Not sure we can (heavy-weight bureaucracy on our end even in innocuous cases) but worth a shot.

[2018-09-11 09:13] kant111 opened #72 "Is HighwayHash available for Java?"
Is sha256 highwayhash available for Java? any benchmarks compared C or C++ counterpart?

[2018-09-11 10:08] jan-wassenberg commented on #72
Hi, the [Java port](https://github.com/google/highwayhash/blob/master/java/com/google/highwayhash/HighwayHash.java) does indeed support 256-bit HWH.

[2018-09-11 22:43] kant111 commented on #72
Thanks! I tried it and I got 2X more performance Java's MessageDigest for sha256.

My data size is 2KB and the performance numbers are as follows:

HighWayHash hash256: 225MB/sec
MessageDigest SHA-256: 115MB/sec

I read [here](https://github.com/minio/highwayhash) that highway hash should not be used if strong collision resistance is required.

so I am wondering if there is a Java library similar

[2018-09-11 23:09] Bulat-Ziganshin commented on #72
HWH isn't a cryptographic hash, so it's not director competitor of SHA.

Use HWH if you just need sort of CRC32, but wider.

[2018-09-18 06:47] dimstamat opened #73 "HighwayHash for the CPU on which we're currently running"
Hi,

I wanted to try the `InstructionSets::Run<HighwayHash>(key, in, 8, &result);` that you have in your README. However, I cannot make it work as it requires the definition of the operator ():
`undefined reference to `highwayhash::HighwayHash<1u>::operator()(unsigned long const (&) [4], char const*, unsigned long, unsigned long (*) [2]) const'`, which is in the highwayhash_target.cc file. I do no

[2018-10-02 11:04] jan-wassenberg commented on #73
Thank you for reporting this. I see that the Makefile does not add `HIGHWAYHASH_OBJS` to `HIGHWAYHASH_TEST_OBJS`. Will be fixed shortly :+1:

[2018-10-02 12:46] jan-wassenberg commented on #73
Please feel free to reopen if you still see an issue.

[2018-10-02 12:46] #73 closed

[2018-10-02 12:47] jan-wassenberg commented on #69
At long last :) Sorry about the delay, we have been very busy.

[2018-10-02 12:47] #69 closed

[2018-10-03 11:25] vaibhavsood opened #74 "Highwayhash on PPC"
Hi,

I am looking at the PPC implementation https://github.com/google/highwayhash/blob/master/highwayhash/hh_vsx.h

My query is if this implementation can be optimized further by completely implementing in assembly?

There is a minio implementation of Highwayhash for Intel all in assembly https://github.com/minio/highwayhash/blob/master/highwayhashAVX2_amd64.s, what i wanted an opinion on was if c

[2018-10-04 15:19] jan-wassenberg commented on #74
Hi, it's an interesting question. I find that clang translates x86 intrinsics quite well, such that assembly isn't a big win. Not sure how the situation is on POWER, I haven't looked at the assembly there.

[2018-11-06 08:30] zorrohahaha opened #75 "Alignment warning when compiling with GCC7 on aarch64"
g++ -c -I. -std=c++11 -Wall -O3 -fPIC -pthread highwayhash/vector_test_portable.cc -o obj/vector_test_portable.o
In file included from ./highwayhash/arch_specific.h:39:0,
                 from ./highwayhash/vector_test_target.h:23,
                 from ./highwayhash/vector_test_target.cc:18,
                 from highwayhash/vector_test_portable.cc:19:
./highwayhash/vector_test_target.cc: In func

[2018-11-06 08:31] zorrohahaha commented on #75
When using GCC 4.8.5, there will be no warnings. (I haven't try the performance yet)

[2018-12-03 17:14] easyaspi314 opened #76 "Issues with Core 2 Duo"
First of all, Penryn lacks the `rdtscp` instruction. It can use `rdtsc` instead. Otherwise, it gets a bad instruction issue on the benchmark. Despite this, it seems the benchmark is nonfunctional anyways. :(

In addition, HighwayHash64 seems excessively slow on my (admittedly old) chip compared to other hashes.

xxhsum benchmark (100 KB)
gcc 8.2.0 `gcc-8 -O2 -march=native`
MacBook (13-inch, Mid 20

[2019-01-09 00:10] easyaspi314 opened #77 "[Partial implementation] NEON version"
Currently, performance is terrible on ARMv7. I do not have an aarch64 device, so I can't test for it

I have the ProcessAll routine for the C version which is adapted from [highwayhash-go](https://github.com/minio/highwayhash). Operator overloads probably won't work as well because we use funky stuff like vmovn, vtbl, and vmull which can't really be expressed properly in operator overloads.

It ha

[2019-01-10 15:12] #72 closed

[2019-01-29 08:45] jan-wassenberg commented on #77
Congrats on this speedup :) Yes, we sometimes need some hacks to get around compiler difficulties.
Speed is not the only goal, we do strive for security, which has its cost. If you want the fastest possible hash, have you checked out meow_hash? (beware: collisions)
Let's close this issue now that #78 is in.

[2019-01-29 08:45] #77 closed

[2019-01-29 17:02] easyaspi314 opened #79 "Question: SSSE3"
HighwayHash can easily be adapted to SSSE3 with only a few changes:

1. Remove the min, max, and stream functions in vector128.h. We don't use them.
2. Change `V128<uint64_t>::operator==` to this:
[code]
3. Change the `_mm_insert_epi32` in `HHStateSSE41::UpdateRemainder` to this:
[code]
4. Change the second `_mm_insert_epi32` in `HHStateSSE41::XorByShift128Left12` to this:
[code]
Done.

[2019-02-15 22:57] aead opened #82 "doc: wikipedia article has been deleted"
FYI, the Wikipedia article [https://en.wikipedia.org/wiki/HighwayHash](https://en.wikipedia.org/wiki/HighwayHash) has been removed and it seems like the log message is:
[code]
See minio/highwayhash#11

Any intent to publish the article again. Also let me know whether we can help here.

[2019-02-16 09:13] jan-wassenberg commented on #82
Thanks for reaching out!
Would be nice if the article were published again. Can you help create a new one? That would work better than if we did it. From the Minio issue, glad to see there's still a cached version:
https://wikivisually.com/wiki/HighwayHash

Besides Minio, other users include Tensorflow and https://github.com/google/riegeli (compressed string records).

FYI I'll have sporadic netwo

[2019-02-25 12:56] cdluminate opened #83 "Failed to build on arm64"
Buildlog: https://buildd.debian.org/status/fetch.php?pkg=highwayhash&arch=arm64&ver=0%7Egit20190222.276dd7b-1&stamp=1550977085&raw=0

Version: 0~git20190222.276dd7b (current master)

[2019-07-22 02:50] yurivict opened #85 "Please strip the installed library"
[code]

[2019-08-31 16:37] operamint opened #86 "SipHash performs badly on short msgs (< 100 bytes). And missing le64toh swap on key?"
Hi,

1) I was recently comparing my old implementation of SipHash with this, and noticed it is much faster on shorter messages. My code is "straigth forward" pure portable C++ (< 150 lines)  without any macro, intrinsics or other trickery. Uses class Hash with ctor, update and finalize.
[code]
With increasingly longer messages, hwh::SipHash catches up with mine, but does not surpass it.  I tried w

[2019-09-03 11:44] jan-wassenberg commented on #86
Interesting result, thank you for sharing this.
It is difficult to draw conclusions from something like the sum of many runs. Would you like to integrate your code into the benchmark.cc? If it is indeed faster there, and you're willing to share your code, we could open-source it here.

2: the input key is given as an integer. Byte order only arises when loaded from bytes, as we do for the input me

[2019-09-03 19:33] operamint commented on #86
I would gladly share the code - I'll integrate into benchmark.cc. In the meantime, here are some more numbers: Note that my hashsip<2,4> optimizes great on both compilers, but the <1,3> instantiation doesn't optimize with Visual Studio 2017. Weird.
[code]
And extracts from the code that produced it:
[code]

[2019-09-11 07:52] operamint commented on #86
Hi Jan, I have forked the project, if you're interested.

1. Added freewayhash::SipHash.  "_A freeway is a "controlled-access" highway — also known as an express highway — that's designed exclusively for high-speed vehicular traffic._". As from above table, it is approx.  2x - 1.2x faster for 7 - 63 bytes input lengths.
2. Integrated into benchmark.cc, but I find my own benchmarks show better diff

[2019-09-11 09:48] jan-wassenberg commented on #86
Hi, thanks for integrating and testing! I didn't see the benchmark.cc results in your commit/readme - can you share those?

Yes, this is by design. A long loop will lead to near-perfect icache and branch prediction, whereas our benchmark deliberately interferes with this by randomizing the input lengths.

[2019-12-16 23:05] kshmelev commented on #83
I have the same issue when cross-compiling HighwayHash to arm64. My log is very much alike to the one from the previous message. The causing error seems to be:

`make HH_AARCH64=1`
.....
`./highwayhash/hh_neon.h:227:76: error: no matching function for call to 'highwayhash::NEON::V128<unsigned int>::ShiftRightInsert(highwayhash::NEON::V2x64U&, long unsigned int)'`

The versions before the commit ht

[2020-04-29 18:42] yurivict opened #88 "Installs an unstripped binary lib/libhighwayhash.so"
[code]

[2020-04-29 18:46] yurivict opened #89 "Builds static library with relocatable code (-fPIC)"
The static library doesn't need relocatable code because it would marginally hurt performance in static executables.

[2020-04-30 08:06] jan-wassenberg commented on #88
@yurivict Thanks for suggesting this, would this be sufficient?

[code]

[2020-04-30 08:08] jan-wassenberg commented on #89
We're sharing the object files between the .a and .so. To keep the build simple, do you think we could tolerate the slight overhead of relocations in the static library?

[2020-04-30 08:08] jan-wassenberg commented on #85
Discussion in #88 .

[2020-04-30 08:08] #85 closed

[2020-04-30 08:10] #45 closed

[2020-04-30 16:01] yurivict commented on #88
I think so.

[2020-04-30 16:05] yurivict commented on #89
For example, this project https://github.com/ccxvii/mujs performs compilation for static and shared libraries separately.

[code]

[2020-06-16 11:57] #83 closed

[2020-06-17 07:25] #74 closed

[2020-06-17 07:28] jan-wassenberg commented on #75
Thanks for mentioning. I believe no action is needed here, overalignment is reasonable and apparently GCC 4.8.5 does not warn?

[2020-06-17 07:28] #75 closed

[2020-06-17 07:42] #86 closed

[2020-06-17 07:45] jan-wassenberg commented on #76
@easyaspi314 sorry to hear about the disappointing result. I'm surprised pmuludq was twice as slow on Conroe (assuming that is the Core 2 Duo in question?). According to uops.info, it's 3 cycle latency, as on Nehalem.

Compiler codegen is indeed a concern, we've seen Clang do a better job with intrinsics.

Note that HighwayHash is intended as a MAC (larger state and no trivially reversible operati

[2020-06-17 07:46] jan-wassenberg commented on #79
@easyaspi314
These look like reasonable workarounds, we could rely on `#if` inside the same file, but generally we are targeting SSE4.1 as a minimum baseline (Penryn was launched in 2008). Can you help me understand if/why SSSE3 support is required?

[2020-06-17 08:04] jan-wassenberg commented on #71
I just verified it builds on OSX. Thank you wilsonk for the comment, and Alexander for implementing this!

[2020-06-17 08:04] #71 closed

[2020-06-17 08:04] jan-wassenberg commented on #57
This has been added; belatedly closing.

[2020-06-17 08:04] #57 closed

[2020-06-17 08:07] jan-wassenberg commented on #88
@yurivict I finally merged the github version with our internal version (two-way sync was unfortunately not set up). Just added this and will push shortly.

[2020-06-17 08:10] jan-wassenberg commented on #89
@yurivict Unfortunately my make skills are reaching their limits here. We conditionally extend the list of object files depending on the target macros, and I think it would be undesirable to have two sets of them so that the SO can depend on the fPIC objs and others on the non-fPIC.
Again, is the overhead of relocations costly enough to justify the more complex build?

[2020-06-17 08:14] #88 closed

[2020-06-17 08:16] #65 closed

[2020-07-31 16:11] kaxap opened #93 "Problem with Python 3 bindings"
There is a problem with https://github.com/kpdemetriou/highwayhash-cffi mentioned in the README.md of this project:

it sometimes generates arbitrary hashes given the same input due to usage of deallocated memory region. I have submitted the  [issue](https://github.com/kpdemetriou/highwayhash-cffi/issues/1) and a [pull request](https://github.com/kpdemetriou/highwayhash-cffi/pull/2) fixing the iss

[2020-08-03 05:46] jan-wassenberg commented on #93
Ouch, thanks for spreading the word to save others grief.

How about this text?
[code]

[2020-08-03 07:06] kaxap commented on #93
That will do. Thanks!

[2020-08-03 07:46] jan-wassenberg commented on #93
Thanks for having a look, we'll get it pushed to Github soon.

[2020-08-03 08:21] #93 closed

[2020-09-05 10:33] kpdemetriou commented on #93
Hi all, I'm the author of the Python bindings in question. This is a quick heads-up that this issue has been rectified as of version 0.1.6.

[2020-09-15 14:44] thrasibule opened #94 "Test fails with gcc 10.2.0"
The test fail for me on my machine with:

Mismatch at size 33 for target Portable.

This is with gcc 10.2, see full version:
[code]
If I compile with clang, the test passes, but only tries SSE41, not AVX2 even though my cpu supports it.

[code]
Any idea how to debug this?

[2020-09-19 17:54] thrasibule commented on #94
I've made some progress on this.
- test passes with clang. The fact that it wasn't trying avx2 was because I was running it in virtuabox, and even though virtualbox lets avx2 flag thought the host, it doesn't let fma and bmi throughwhich are also required.
-test passes with gcc if I use the -O2 flag instead of -O3. So it must be some over agressive optimization somewhere
- unfortunately, I've trie

[2020-09-21 11:12] jan-wassenberg commented on #93
@kpdemetriou
Hi Phil, good news, thanks for letting us know! FYI we're removing the text added above, or please let us know if you'd like something else mentioned instead.

[2020-09-29 09:33] jan-wassenberg commented on #94
Thanks for letting us know and sharing your results. It does sound like a compiler bug, which is unfortunately not uncommon in my experience.

Yes, this is unfortunate. We also ran into that with JPEG XL. There the FMA is helpful but for HighwayHash we could remove those extra flag requirements.

Interesting that -O3 is not the same as its constituent flags (at least as defined at https://gcc.gnu.

[2020-10-06 20:02] thrasibule commented on #94
I've checked that it also works with -O3 -fno-strict-aliasing, but I don't get any aliasing warnings, so it must be something quite subtle. Does it ring a bell? It also works with gcc 9.3. I'm a bit wary to report it to gcc without narrowing down the issue further.

[2021-04-20 17:33] andrewevstyukhin opened #96 "The tricky __SSE4_1__ macro under Visual Studio"
The target selection preprocessor's directive at
https://github.com/google/highwayhash/blob/7d165f0f7853f37d6b989e862c8859693ed02d32/highwayhash/arch_specific.h#L93
fails to use SSE4.1 in AVX builds under Visual Studio 2019. HH_TARGET_NAME equals to Portable.

A proposed modification in the expression works better:
`#elif defined(__SSE4_1__) || defined(__AVX__)`

Visual Studio defines SIMD macrose

[2021-04-22 10:42] #96 closed

[2021-04-22 10:43] jan-wassenberg commented on #96
Thank you!

[2021-08-21 23:08] Sanmayce opened #102 "Unexpected low speeds with the generic C?!"
Hi Jan and Jyrki,
just included HighwayHash128 into my C program benchmarking several hashers, the problem I encountered is the very slow speed, the collisions are okay, though. Is this to be expected, considering you wrote far more stronger hasher than the non-crypto ones?!

My yesterday hashers showdown https://github.com/Cyan4973/xxHash/issues/568 lacked HighwayHash, so I tried to enrich the ex

[2021-09-01 09:57] jan-wassenberg commented on #102
Hi @Sanmayce, sorry to reply late.

Thanks for adding HighwayHash!

Yes, this is plausible. All 'reasonable' hashes can mix sufficiently to avoid collisions for non-adversarial input.
The extra mixing and larger state in HighwayHash is useful for fingerprints/MAC applications, especially for adversarial inputs.

The large difference in performance between C and C++ is because the C version does no

[2021-09-18 13:22] Sanmayce commented on #102
It took ~240hours (on 8 cores CPU) to complete Bob Jenkins' Froggy with Gumbotron_YMM, no collisions reported.
Here is the package, www.sanmayce.com/Froggy_Gumbotron_XXH128_8threads.zip

[code]

In my view keys 1..63 long are problematic, someone can do better, yet, for now Gumbotron_YMM serves well.
Have the idea to change the reading of the key, e.g. for 64+ long ones as 00,01,02,03,...,64,65:
I

[2021-09-21 04:14] #102 closed

[2022-02-16 12:35] SimonAbdullah opened #104 "New Nodejs bindings package"
Greetings,
I hope you are having a great day.

I've created a working NPM package to generate all variants of HighywayHash hashes (64-bit, 128-bit, and 256-bit) and published it on NPM, [highwayhash-nodejs - npm (npmjs.com)](https://www.npmjs.com/package/highwayhash-nodejs).
The provided library in your amazing documentation on GitHub is not working properly and it only supports 64-bit hashes, whi

[2022-02-16 14:50] jan-wassenberg commented on #104
Hi Simon, thanks for reaching out. Sounds great! I've updated the readme, please let me know if you'd like any other change.

[2022-02-16 14:50] #104 closed

[2022-02-16 15:58] SimonAbdullah commented on #104
Perfect!
I hope that it will help. Thanks

[2022-03-01 20:03] asonnleitner opened #106 "highwayhash-wasm - WASM JS binding for the browser and nodejs"
Hello, as I was practising some rust with wasm-bindgen, I made this module which is a simple and useful binding of
the rust implementation of highwayhash. It's compatible for the browser and node. I wrote some documentation
about how to use it.

You can find the repo here [highwayhash-wasm](https://github.com/asonnleitner/highwayhash-wasm) and also the [npm package](https://www.npmjs.com/package/h

[2022-03-02 11:33] jan-wassenberg commented on #106
Hi @asonnleitner , nice! Would you like me to add it to the readme?

[2022-03-02 12:14] asonnleitner commented on #106
Hi @jan-wassenberg, sure! It would be a pleasure!

[2022-03-07 17:21] jan-wassenberg commented on #106
Done :)

[2022-03-07 17:21] #106 closed

[2022-08-09 14:22] joemmett opened #109 "Alignment attributes are in the wrong place for arrays"
Some array declarations use `HH_ALIGNAS` after the array bound in some files. This is invalid C++ when `HH_ALIGNAS` expands to the standard C++ `alignas` specifier. Moving `HH_ALIGNAS` to before the type makes it conforming and should still work with the gcc attribute, and some declarations already use this form.

Clang will diagnose these when `alignas` is used, it only works now because it looks

[2022-08-10 13:23] jan-wassenberg commented on #109
Thanks @joemmett for pointing this out. I've made this change locally and it will take some time to land, likely next week.

[2022-08-19 13:05] #109 closed, assigned to nobody

[2022-11-17 08:10] EndrII opened #111 "Build fails (gcc (Ubuntu 12.2.0-3ubuntu1) 12.2.0)"
Hi
I try to build this lib, but it failed.

### Steps for reproducing the bug:

[code]

### GCC Version
[code]

### Build log
[code]

[2022-11-21 08:41] jan-wassenberg commented on #111
Hi @EndrII , thanks for reaching out. I see what happened, our internal code differs a bit there, its `#include "third_party/absl/container/btree_map.h"` is missing. But there is no good reason to depend on Abseil, changing `absl::btree_map` to `std::map` should fix it.

[2022-11-21 08:43] EndrII commented on #111
Okay, i create a pull request with this fix. Thank you.

[2022-11-21 09:22] EndrII commented on #111
@jan-wassenberg check please my PR.

[2022-11-21 09:31] jan-wassenberg commented on #111
Thanks for sending the PR. I see that the CLA issue is fixed, and code looks good.

We require a bit of work at this end first before we can sync (and apply PRs). The project used a now-deprecated system for open-sourcing and has not yet been updated to Copybara.

[2022-11-21 09:44] EndrII commented on #111
Okay, just not forget merge it, please. Because I plan to use your library, and will be better if our fork repository and your main repository will be similar.

Thank you )